[2015-12-07 10:37] rwatjen opened #1 "DependencyCallStacks loading error"
I'm getting an error when adding DependencyCallStacks to my ApplicationInsights.config. It looks like AI wont load the DLL, but the Fusion assembly binding log indicates that the Microsoft.AI.DependencyCallstacks.dll was loaded successfully.

The Windows event log contains this stack trace:
[code]
How can I trace what's going on? This doesn't happen when running the code in VS, only on the server

[2015-12-07 11:27] rwatjen commented on #1
My bad. There is an assembly binding error. It looks to me like the AI SDK 1.2.3.490 doesn't play well with Microsoft.AI.DependencyCallstacks version 0.20.0.17454 which is the latest available at MyGet.
[code]
I'll build the Telemetry Initializer from source and use that instead.

[2015-12-07 11:27] #1 closed

[2016-03-07 20:11] SergeyKanzhelev opened #5 "Application Insights SDK for WCF - make it official?"
Please try it and give us feedback on this project: https://azure.microsoft.com/blog/wcf-monitoring-with-application-insights/

- Is it the right layer to monitor WCF on?
- Would you rather use standard Application Insights WEB NuGet that uses http modules?
- What features are you missing for WCF monitoring?
- Do you think we need to make it as part of official offering rather than Labs project?

[2016-03-08 15:38] SharpDude opened #6 "Not getting App Insights Requests"
I just took by newly created WCF service without App Insights, added the SDK, and set up the instrumentation key.

When I look on the Azure portal, I see Dependency events from when I call into SQL Server, and includes the web service method name, however I get no Request events.

[2016-03-08 17:20] tomasr commented on #6
Did you also add the WCF service behavior to your service that enables it? This can be done in two ways:
* __Code:__ Adding the ```[Microsoft.ApplicationInsights.Wcf.ServiceTelemetry]``` attribute to your service definition class.
* __Configuration:__ Add the ```<serviceTelemetry/>``` behavior through config. The NuGet package will register the behavior in ```<behaviorExtensions/>``` but it will n

[2016-03-08 20:28] SharpDude commented on #6
I added the ServiceTelemetry attribute to my class. I couldn't figure out how to add it though the config as I have never used a behavior extension before. That attribute fixed it so I am now getting the Request events and they are correctly linked to the Dependency events.

One last question, which may be more app insights than this library, is how can I set the response code for the request even

[2016-03-08 20:44] tomasr commented on #6
The NuGet package will register the service behavior by default. You'll see something like this in the ```<system.serviceModel>``` section of your web.config file:

[code]

To add the behavior itself, you need to add the ```<serviceTelemetry/>``` tag to a Service Behavior. If you're using mostly doing the default configuration that Visual Studio generates for WCF services, you should have an unnam

[2016-03-23 15:03] luislopezmartin commented on #5
I am missing the capability to setup alerts based on the number of requests. I've only been able to setup alerts based on exceptions raised. I would also like to have analytics on geographical location of my users. Thanks for this great project!

[2016-03-23 15:13] tomasr commented on #5
@luislopezmartin A recent change introduced a new telemetry initializer: [ClientIPTelemetryInitializer](https://github.com/Microsoft/ApplicationInsights-SDK-Labs/commit/bd686bee93f8da9f99b4e0d5086ddfe69b5f31ff). This is an initial step to capturing the client's IP address, which should make the portal automatically generate the location tracking data. There is still an issue here if you're behind

[2016-03-23 17:08] SergeyKanzhelev commented on #5
For alerts based on # of request use the metric request rate:

![image](https://cloud.githubusercontent.com/assets/9950081/13993672/8b48f0de-f0de-11e5-81f6-d89de5de2e05.png)

More about alerts in case you haven't seen this doc: https://azure.microsoft.com/en-us/documentation/articles/app-insights-metrics-explorer/#set-alerts

There is basic geo information on *Usage* blade. As @tomasr mentioned yo

[2016-04-04 04:38] bneidhold commented on #5
Everything works right, but i have a project with mixed WCF and classic aspx Pages. After get the WCF things work with AI no GET/POST requests from the classic aspx are logged. Is this possible to fix/extend?

[2016-05-12 16:27] bradtwurst opened #13 "ExceptionElemetry in ETW provider not working with AppInsights 2.1.0-beta4"
When starting up a WCF service with AppInsights WCF included in the config, an error is reported that the ExecptionTelemetry event keyword 0x30 is invalid and that it must be a power of 2.

I downloaded the code, changed the 0x30 to 0x40, recompiled, and the modified version does not report the error.

https://github.com/Microsoft/ApplicationInsights-SDK-Labs/blob/master/WCF/Shared/Implementation/

[2016-05-12 16:44] abaranch commented on #13
Thank you for reporting the issue.
@tomasr , could you please take a look?

[2016-05-12 16:49] tomasr commented on #13
@abaranch Yes, will send a pull request later today with the proper fix after checking everything else is OK.

@bradtwurst Thanks for reporting!

[2016-05-13 18:27] #13 closed

[2016-05-31 22:10] geoffhardy1 opened #15 "Operation name shows up as * for webHttpBinding service"
We are using the Application Insights WCF nuget package for two services in our application. One services is HTTP and the other is HTTPS. The telemetry for our HTTP service shows both the services name and the operation name, which is what we need. For example:

SafeService.GetWorksheetDto

However the HTTPS WCF service will not show the operation name - only "*". For example:

SafeMobileService.*

[2016-05-31 22:15] tomasr commented on #15
@geoffhardy1 When this happens, it usually means that the component was unable to match the value of the Action header to the operation contract.

Is there anything special about the HTTPS service? For example, is it using the webHttpBinding, or maybe it has a catch-all operation in the contract? i.e. this:

[code]

[2016-05-31 22:25] geoffhardy1 commented on #15
Yes, the service is using webHttpBinding.

The methods do not have an action parameter specified. Here is an example of how they are defined:

[OperationContract]
[WebGet]
public LoginLookupDto GetLoginLookupDto()

[2016-05-31 22:29] tomasr commented on #15
That explains it; I haven't implemented explicit support for webHttpBinding, it does require some specific things in there, and so far no one had asked for it :smile:

Are you seeing anything else not working in that scenario, besides the operation names not matching up?

[2016-05-31 22:33] geoffhardy1 commented on #15
It's just the operation names that do not show up. The rest of it looks OK and we have found this library to be very useful.

Do you have any suggested workarounds to get the operation name? Unfortunately for this service, the telemetry is not particularly useful without knowing the operation name.

[2016-06-01 18:08] abaranch commented on #15
Published: Microsoft.ApplicationInsights.Wcf 0.25.0-build22021

[2016-06-01 18:08] #15 closed

[2016-06-22 01:21] SergeyKanzhelev opened #18 "New metrics API proposal"
Here is a new metrics API proposal: https://github.com/Microsoft/ApplicationInsights-SDK-Labs/tree/sergkanz/newMetricsAPI/AggregateMetrics#usage---second-api

Histograms and timers metric types are not yet implemented. Also there is some differences in how meters metric type works that potentially need some adjustments.

Problems that this API solves:
1. Super-fast incrementing for a simple metric

[2016-06-22 04:52] SergeyKanzhelev commented on #18
Questions from @vitalyf007:

In your mind, why do you see a difference between regular counter (with increment/decrement interface) and “meter (with Mark() interface). Overall it feels like a port of Metrics.Net to a degree (if we want to do the same, why port it, may be just use it)? And do I understand it correctly that all context properties become metric dimensions?

[2016-06-22 05:13] SergeyKanzhelev commented on #18
*Difference between `Counter` and `Meter`* is in what being calculated for those. When `Counter` being aggregated - we will send an integer as a value. When `Meter` is aggregated we will send a rate. Same for `Histogram` metric we will have aggregation logic that will calculate min/max/stdDiv when for simple `Counter` we do not calculate those locally.

As I mentioned I changed a `Meter` semantics

[2016-06-22 19:40] AlexBulankou commented on #18
@SergeyKanzhelev can you clarify on "which of those properties will become dimensions is a backend job". With server side aggregation it makes sense. There are predefined dimensions and customer can pick and pay for additional dimensions that will be used for aggregation. How does client aggregation work here?

[2016-06-22 19:52] SergeyKanzhelev commented on #18
SDK do not aggregate by dimensions in proposed API. For instance, you have a meter called `failed requests`. You may have associated custom properties to it. Every minute this meter will generate one telemetry item of type `MetricTelemetry` with the name `failed requests`. This telemetry item will have custom properties of the meter. It will also have telemetry context and all properties set by te

[2016-06-22 19:54] SergeyKanzhelev commented on #18
BTW, Metrics.NET provide a mechanism to have multiple dimensions for the metrics. See [this](https://github.com/etishor/Metrics.NET/wiki/Counters#counting-values-from-a-set) for instance.

I think similar concept should be used for request telemetry aggregations. But I'm not sure - need to try it out first

[2016-06-23 18:32] SergeyKanzhelev opened #20 "Getting error in event source initialization in AggregateMetrics project"
ERROR: Exception in Command Processing for EventSource Microsoft-ApplicationInsights-Extensibility-AggregateMetrics: Use of undefined keyword value 0x10 for event ModuleInitializationStarted.

Have no idea why it happens. It doesn't affect execution, but need to look into it.

[2016-06-23 18:52] abaranch commented on #20
You may want to try to make nested Keywords class public. Also consider adding reference to Microsoft.Diagnostics.Tracing.EventRegister that adds a target so that such issues are caught during build time.

[2016-06-23 21:00] SergeyKanzhelev commented on #20
thanks! 🎉

[2016-07-01 13:48] brettjacobson opened #22 "Works with Live Stream?"
Will this package work with/support the latest Live Stream features of AppInsights 2.1?
I cannot determine if those features are a part of the Web SDK (which this "replaces") or not.

[2016-07-01 13:59] tomasr commented on #22
Are you referring specifically to the WCF part? or something else?

[2016-07-01 17:45] SergeyKanzhelev commented on #22
Live Stream metrics are part of Performance Counter package that is a dependency for WCF one. So it's suppose to be working.

[2016-07-14 12:43] jiberan opened #23 "WCF Telemetry Module could not load Microsoft.ApplicationInsights, Version=2.1.0.0"
When WCF service is started it will show error `Could not load file or assembly 'Microsoft.ApplicationInsights, Version=2.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies.`

Using  latest version of ApplicationInsights.Wcf - 0.26.0-build00473. and .net 4.0

Can you check on that?
Thanks.

[2016-07-14 13:15] tomasr commented on #23
Thanks for the report, @jiberan. Can you clarify something?
You mention that the error is happening on .NET 4.0... is this just a .NET 4.0 service running on a machine with *only* .NET 4.0 installed, or does the machine have 4.5.X? or higher?
Do you see the same thing happening for a project built for .NET 4.5?

[2016-07-14 13:24] jiberan commented on #23
It is Windows 10 with .net 4.6 and project with 4.0 target. Just tried and problem is the same with 4.5.2. Looks like .net version is irrelevant.

You can just create new WCF Service Application, install Package "Microsoft.ApplicationInsights.Wcf" -Pre and run application. It will immediately crash.

[2016-07-14 14:51] tomasr commented on #23
Figured it out; the NuGet package is pulling the wrong version of the Microsoft.ApplicationInsights.* packages (2.0.0 and not 2.1.0). I'm doing a pull request to fix it in a moment, but in the meantime you can work around it by manually updating the Microsoft.ApplicationInsights.WindowsServer NuGet package to the latest stable version (2.1.0).

[2016-07-14 15:02] jiberan commented on #23
it is working now. Thanks :+1:

[2016-07-15 11:16] jiberan opened #25 "Catching handeled exceptions"
Consider OperationContract, where Exception are catched and logged. By default, Application Insights SDK WCF Telemetry will mark this as succeeded request.

What would be best way to modify this behavior and mark this telemetry event as Exception? And also attach details about exception to this event?

Thanks.

[code]

[2016-07-15 13:25] tomasr commented on #25
@jiberan You can track an exception for a request simply by calling `TrackException()`:

[code]

As long as we can get at the WCF `OperationContext` associated with the request, the exception will be correctly tracked alongside it.

For your second question, there is, unfortunately, no way to manually marked the request as failed, because we're overriding the property value at the end of the reque

[2016-07-15 13:45] jiberan commented on #25
great. Thank you :-)

[2016-07-15 16:49] SergeyKanzhelev commented on #25
New version with the fix should be available on MyGet. Thanks @tomasr

[2016-07-18 14:08] jiberan commented on #25
@SergeyKanzhelev there is still old version (0.26.0-build00473) on MyGet. Can you check it? Thanks.

[2016-07-18 15:01] dude0001 opened #27 "Log SQL command"
When I've used Application Insights with ASP.NET applications, the SQL dependency logs include the actual SQL command/query that was sent to SQL Server.  When using this package for a WCF service I see SQL dependencies being logged, but the command property only contains the server and database my app is hitting and not the actual SQL command/query.  I get timing and frequency data, but that infor

[2016-07-18 17:33] abaranch commented on #27
WCF nuget package is responsible only for request  and exception collection which is specific for WCF. Dependency collection is done the same way as in Web and comes with Dependency nuget package. Command name collection depends on whether you use StatusMonitor or not.
Some details here: https://github.com/Microsoft/ApplicationInsights-Announcements/issues/9

[2016-07-18 17:33] #27 closed

[2016-07-18 18:25] abaranch commented on #25
By some reason new version is 0.25 and 0.26 was uploaded in June. I deleted version 0.26. You should be able to see a correct version now: 0.25.0-build34674, 15 Jul 2016 16:34:49 GMT or you can download it requesting the specific version.

[2016-07-18 19:32] dude0001 commented on #27
My WCF service does reference Microsoft.ApplicationInsights.DependencyCollector and it targets .NET 4.6.1, so I thought the CommandText should be logged automatically from my experience in ASP.NET applications. I thought my issue had something to do with using this package and being a WCF service but it must be something else.  I'll do some more research and direct further questions to the announc

[2016-07-18 23:03] abaranch commented on #27
Wcf nuget package depends on Application Insights Windows Server nuget. Application Insights Windows Server depends on Microsoft.ApplicationInsights.DependencyCollector . The last one automatically collects dependencies for 4.6. But command text is available only if you also have StatusMonitor. You do not have to onboard your application using StatusMonitor. You just need to
1. host your applicati

[2016-07-19 02:11] tomasr commented on #25
@abaranch It appears the version number was rolled back to 0.25 in this commit: https://github.com/Microsoft/ApplicationInsights-SDK-Labs/commit/330793d19eb0b2a4fad80c9f81a11ce50337661f
@SergeyKanzhelev Any reason for that change?

[2016-07-19 04:41] SergeyKanzhelev commented on #25
Bad merge. Sorry. Anything else I lost with this commit?

[2016-07-19 14:06] tomasr commented on #25
Possibly..... yes, since it ended up doing all these changes on the WCF folder:
![image](https://cloud.githubusercontent.com/assets/16179/16952707/efe9acbe-4d8f-11e6-9c31-6ff285cc0039.png)

I think it probably undid this merge https://github.com/Microsoft/ApplicationInsights-SDK-Labs/commit/d72fc66ffcb73107bef125714e6f62ff2ac4617e

[2016-07-20 20:52] chatumbabub commented on #25
Any idea when fixed nuget package will be available? Thanks.

[2016-08-02 05:15] Jangesou88 opened #38 "2605:e000:cdc2:b600:f138:23c3:9c6e:6d00"

[2016-08-02 05:20] #38 closed

[2016-08-08 17:01] SergeyKanzhelev opened #41 "[AzureWeAppCounters] cleanup for Mateo"
1. File names should be the same as class names
2. Only public class should be `PerformanceCollectorModule` (and obviously `PerformanceCounterCollectionRequest` as it's public contract) - everything else internal. Move internal classes into `Implementation` folder
3. Populate `Counters` collection with the default counters in constructor
4. Rename `FlexiblePerformanceCounterGauge` to `PerformanceC

[2016-08-08 17:02] SergeyKanzhelev opened #42 "[AzureWeAppCounters] Check that the applicaiton is deployed as Azure Web App before registering gauges for collection"
In 'PerformanceCollectorModule''s `Initialize` method - check that the application is deployed as Azure Web App before registering counters

[2016-08-08 17:04] SergeyKanzhelev opened #43 "[AzureWeAppCounters] Name of the counters should be as in configuration"
Name counters like this: `\Process(??APP_WIN32_PROC??)\% Processor Time` instead of `processorTime`.

Also respect `ReportAs` value if set by customer

[2016-08-08 17:05] SergeyKanzhelev commented on #43
@mateoatr - this is for you

[2016-08-08 17:05] SergeyKanzhelev commented on #42
@mateoatr - this is for you

[2016-08-08 17:05] SergeyKanzhelev commented on #41
@mateoatr - this is for you

[2016-08-08 20:13] SergeyKanzhelev opened #44 "[AzureWeAppCounters] Set specific sdkVersion for the Azure WebApps counters telemetry item"
When creating and reporting counters from azure webapp - set specific sdkVersion so we will have indication on how counter was collected

[2016-08-09 08:59] rahulrajatsingh opened #45 "Getting System.NullReferenceException"
I just added this package to my service and tested it. I am getting following exception just by adding this package dependency.

[2016-08-09 13:05] tomasr commented on #45
@rahulrajatsingh Could you tells us a little information?

* What .NET Version is your code compiled for, and what .NET Framework version is it running no?
* Are you using duplex contracts?
* Does your service code manipulate `OperationContext` in any way during the operation execution?
* What behaviors are you enabling on your service?

From the stack trace, it looks like the exception is coming

[2016-08-09 14:05] tomasr commented on #45
OK, found one possible repro scenario: This same exception will happen if the service operation that was called explicitly or implicitly ends up calling another remote service.

However, it will only happen if the calling code instantiates a new `OperationContextScope` and does not dispose it correctly, so something like this:

[code]

Code like this causes the OperationContext for the child call

[2016-08-10 05:32] rahulrajatsingh commented on #45
Please find all the requested details below:

4.5.1

No

Yes we are pushing claims in the OutgoingMessageHeaders for other service calls.

No custom behavior. Its configured to use Single instance with Concurrency mode as Multiple and some throttling using configurations.

[2016-08-10 11:10] manums opened #49 "Unable to Restore or Install Stable version - 0.25.0 of Microsoft.ApplicationInsights.Wcf package"
We had 0.25.0 stable version of ApplicationInsights.Wcf package installed in our solution. From sometime, Restoring nuget started failing. I tried the solution suggested in i.e. by updating Nuget.config -http://docs.myget.org/docs/how-to/package-not-found-during-package-restore. However, restoring or installing nuget failing cos there is no such stable version available.

I have noticed that this

[2016-08-10 13:09] tomasr commented on #45
@rahulrajatsingh Can you confirm if your code suffers by any chance of the issue mentioned above of not disposing correctly the `OperationContextScope` object?

[2016-08-10 13:13] tomasr commented on #49
@manums There was a problem with one of the builds published that reverted back to the wrong version number and overwrote some important changes. Could be that was indeed the build you were referring to, though I do not believe we've marked any build as stable explicitly.

@SergeyKanzhelev do you know more about this?

Overall would recommend to go with the latest version, as it contains a few imp

[2016-08-10 17:05] SergeyKanzhelev commented on #49
Yes, we marked one package as stable by mistake. @manums - do you have a requirement to use a stable version? If you don't - please follow @tomasr recommendation and use the latest.

[2016-08-10 18:27] jiberan commented on #5
I would like to see Application Insights SDK for WCF as official part of SDK. I'm using it in production.

[2016-08-10 18:35] SergeyKanzhelev commented on #5
@jiberan - please create an issue for this so we can collect votes. So far our telemetry doesn't show much usage of WCF SDK.

We are trying to keep WCF SDK stable and I believe @tomasr - the author of it running it in production as well

[2016-08-10 18:42] jiberan commented on #5
@SergeyKanzhelev ok. Base on this issue name I was thinking that you are collecting votes here :-) Btw thanks @tomasr for this.

[2016-08-11 05:02] manums commented on #49
@SergeyKanzhelev  @tomasr Thanks for the replies, I could update it to latest but the code has already gone live.  I will have to wait for next release to make these updates.

Our application is business critical and hence process mandates to use only "Stable" versions of external libraries and packages. We created POCs before updating to 0.25.0 which was marked as stable.

When can we expect a st

[2016-08-11 16:11] SergeyKanzhelev commented on #5
@jiberan oh you are correct. THis is the right issue for voting. I just confused as the discussion derailed to something else =)

[2016-08-11 17:10] SergeyKanzhelev commented on #49
Like or leave a comment in this issue: https://github.com/Microsoft/ApplicationInsights-SDK-Labs/issues/5 please

[2016-08-12 17:41] SergeyKanzhelev commented on #44
This one is easy:
1. Create static internal variable like [this](https://github.com/Microsoft/ApplicationInsights-SDK-Labs/blob/azureWebAppCounters/AggregateMetrics/AggregateMetrics/Two/AggregateMetricsTelemetryModule.cs#L98) with the `VersionPrefix` equal to `azwapc`:
[code]
2. In all gauges set sdkVersion in MetricTelemetry [here](https://github.com/Microsoft/ApplicationInsights-SDK-Labs/blob/az

[2016-08-12 17:46] SergeyKanzhelev opened #51 "[AzureWeAppCounters] Configure modules in ApplicationInsights.config on NuGet install"
1. Create transforms files liket [shis](https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/master/Src/PerformanceCollector/NuGet/ApplicationInsights.config.install.xdt#L1-L3)

1. Add transforms into [nuspec](https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/master/Src/PerformanceCollector/NuGet/Package.nuspec#L38-L40)
2. I just realized that for counters to work

[2016-08-12 17:52] SergeyKanzhelev opened #52 "[AzureWeAppCounters] CPU counters seems to be incorrect"
There are two CPU counters:

\Processor(_Total)\% Processor Time
\Process(??APP_WIN32_PROC??)\% Processor Time

Looking in the code it seems we only support the first one: https://github.com/Microsoft/ApplicationInsights-SDK-Labs/blob/azureWebAppCounters/AggregateMetrics/AggregateMetrics/AzureWebApp/Implementation/CounterFactory.cs#L40 However I believe it may be incorrect and values we get from J

[2016-08-12 18:19] SergeyKanzhelev commented on #42
https://github.com/Microsoft/ApplicationInsights-SDK-Labs/pull/50

[2016-08-12 18:19] #42 closed

[2016-08-12 18:19] SergeyKanzhelev commented on #43
https://github.com/Microsoft/ApplicationInsights-SDK-Labs/pull/50

[2016-08-12 18:19] #43 closed

[2016-08-12 18:20] SergeyKanzhelev commented on #41
@mateoatr - can you please comment which items still left to do?

[2016-08-12 18:34] mateoatr commented on #52
@SergeyKanzhelev Yes, you're right, right now we're only getting values for the current process. I'm changing it.

[2016-08-12 19:46] mateoatr commented on #41
Only items left are 5 and 7.

[2016-08-12 22:42] #52 closed

[2016-08-12 22:42] #51 closed

[2016-08-15 16:39] #23 closed

[2016-08-15 16:40] SergeyKanzhelev commented on #22
Please re-open if Live Stream is not working when you are using WCF package

[2016-08-15 16:40] #22 closed

[2016-08-15 16:41] #6 closed

[2016-08-15 16:41] #20 closed

[2016-08-15 16:41] #49 closed

[2016-08-15 16:42] #25 closed

[2016-08-15 20:30] SergeyKanzhelev commented on #44
Committed in https://github.com/Microsoft/ApplicationInsights-SDK-Labs/pull/55

[2016-08-15 20:30] #44 closed

[2016-08-16 19:54] SergeyKanzhelev opened #59 "[AzureWeAppCounters] More custom counters support"
I inserted a list of custom counters Azure Web Apps seems to support:
https://github.com/Microsoft/ApplicationInsights-SDK-Labs/blob/customCounters/AggregateMetrics/AggregateMetrics/AzureWebApp/Implementation/CounterFactory.cs#L83

@mateoatr - please do association between those and json names.

[2016-08-16 19:58] SergeyKanzhelev opened #60 "[AzureWeAppCounters] Trace UserActionable trace message if counter is not supported so it will be easier to troubleshoot"
1. Create an EventSource like this: https://github.com/Microsoft/ApplicationInsights-SDK-Labs/blob/customCounters/AggregateMetrics/AggregateMetrics/AggregateMetricsEventSource.cs Keep `Microsoft-ApplicationInsights-Extensibility` prefix
2. Define Error-level event marked as [UserActionable](https://github.com/Microsoft/ApplicationInsights-SDK-Labs/blob/customCounters/AggregateMetrics/AggregateMetr

[2016-08-16 20:44] SergeyKanzhelev opened #61 "[AzureWeAppCounters] Unit tests failing after files renaming"
@mateoatr, now unit tests started failing:

[code]

[2016-08-18 21:27] mateoatr commented on #59
At this time, there's no way to collect this counters, since we don't have the data:

`case @"\Process(??APP_WIN32_PROC??)\% Privileged Time": `
`case @"\Process(??APP_WIN32_PROC??)\Virtual Bytes Peak":`
`case @"\Process(??APP_WIN32_PROC??)\Virtual Bytes": `
`case @"\Process(??APP_WIN32_PROC??)\Working Set Peak": `
`case @"\Process(??APP_WIN32_PROC??)\Working Set": `
`case @"\Process(??APP_WIN32_P

[2016-08-19 20:51] mateoatr commented on #41
This is completed.

[2016-08-24 22:29] ranjitkrishnan opened #64 "ArgumentNullException on Telemetry Initialize"
I am using AppInsights WCF  in my service. I am noticing exceptions getting thrown from AppInsights while initializing  telemetry. Exception happens in the IsClientSideContext method where context is going as null.

The error happens for the following

- OperationNameTelemetryInitializer
- OperationCorrelationTelemetryInitializer
- UserTelemetryInitializer
- UserAgentTelemetryInitializer
- ClientI

[2016-08-25 00:21] tomasr commented on #64
@ranjitkrishnan Thanks for the bug report. Can you tell me what your code looks like? How are you using the library?

Are you manually instantiating a TelemetryClient instance on a thread that is not part of WCF?

[2016-08-25 00:48] ranjitkrishnan opened #65 "Dependencies not getting linked to the request"
I am using ApplicationInsights WCF SDK for monitoring my service. I can see that dependencies of the requests are not getting linked to the original request.

The test service has following remote dependencies.

- Geocoding using Bing Map service Api
- Database from data is fetched
- Service logging into another database

When looking into the AppInsights. i can the request and dependencies. But t

[2016-08-25 01:14] ranjitkrishnan commented on #64
Please find the steps in which i have configured my service.

- Added the nuget package Microsoft.Ai.Wcf from the AppInsights labs.
- In the Application_Start of Global.asax, i am initializing the instrumentation key from appsetting instead of the ApplicationInsights.config. This is because, we will have different resources for dev, qa, staging and production and wanted to keep the instrumentation

[2016-08-25 02:14] tomasr commented on #64
Couple of things:

You don't need to manually set the instrumentation key in `Application_Start`. Adding it in Web.Config is already supported if you're injecting the attribute through configuration, like this:

[code]
You also don't need to inject your own `IErrorHandler` implementation to log exceptions, as this is already done automatically by the library; or is there any reason why it's not wo

[2016-08-25 02:18] tomasr commented on #65
I think what is going on is that the async requests are causing the dependency tracking calls to be made on threads where we can't get to the WCF `OperationContext` instance, so we can't fill in the telemetry event context with the necessary information. This can be seen on your sample telemetry event, as it doesn't have an operation id and similar data.

@SergeyKanzhelev Do you know what is the b

[2016-08-25 03:02] ranjitkrishnan commented on #64
Thanks Tomas. I have removed the code in ApplicationStart and added the instrumentationkey in the behavior itself. It is working.

I have taken the code and built it locally and tested the fix you have provided. There is no exception afterwards.

When can i get this fix available in nuget ?

[2016-08-25 20:16] tomasr commented on #65
I've been checking with the WCF team on this, and it works on .NET 4.6.2 as is, as the flow of the OperationContext across async calls. I'm still working on an alternative meanwhile.

[2016-08-26 16:13] SergeyKanzhelev opened #67 "From the forum: Does AI Labs SDK for WCF support the NetMessagingBinding?"
@tomasr, would you please reply on [this](https://social.msdn.microsoft.com/Forums/en-US/d162a489-94e7-476e-ae52-090ad371bd3e/does-ai-labs-sdk-for-wcf-support-the-netmessagingbinding-the-net-461-framework-hosting-a-wcf?forum=ApplicationInsights) forum question

[2016-08-29 12:54] georgestevens99 opened #69 "App Insights and .NET 4.6.1 in a Worker Role in emulator -- exception"
Hi,
First thanks for answering my question about NetMessagingBinding, etc.

I started with a worker role built targeting .NET 4.6.1 that successfully installs .NET 4.6.1 and can run OK in the emulator or in Azure.

Then I added app Insights Window Server assemblies via nuget to it, including manually upgrading  App Insights Agent Intercept to 2.0.1 (in trying to get it to run).  No luck.  It crash

[2016-08-29 13:05] georgestevens99 commented on #69
More Info --  This problem may only be with the Worker role.  I have a WCF service that is successfully outputting Telemetry.TrackRequest() info to the Visual Studio console window, although they are not showing up in Azure.

[2016-08-29 13:30] tomasr commented on #69
That exception message sounds like you've got mixed versions of assemblies targeting different versions. We had this problem in one specific version (https://github.com/Microsoft/ApplicationInsights-SDK-Labs/issues/23#issuecomment-232688479), but that should be fixed. Can you tell me what version of Microsoft.ApplicationInsights.dll is getting imported into your project? (look at the assembly vers

[2016-08-29 13:37] georgestevens99 commented on #69
Hi Tomas,

Thanks for your response.  I looked at the assembly version of
Microsoft.ApplicationInsights.dll in References->Properties and it was
2.10.  Is that version number the same as you'd get with ILSpy?

Thanks,
George
Georg

On Mon, Aug 29, 2016 at 9:30 AM, Tomas Restrepo <notifications@github.com>
wrote:

[2016-08-29 14:00] tomasr commented on #69
2.1.0 should be the right assembly version, but seems like something is requesting a different version for some reason. Any chance you could try running the service with a debugger attached and get the full exception and stack trace? (or event better, enable fusion logging to capture the entire assembly binding error message; the thread [here](http://stackoverflow.com/questions/7204889/is-there-an

[2016-08-29 14:47] georgestevens99 commented on #69
Thanks for the suggestion.  I have to deal with other things for a few
hours, and then will return to this issue.  The problem is likely a
dependent assembly.  I'll use your suggestions, plus try some other ideas.

Unfortunately the exception happens in the start method of WorkerRole.Run()
before the WCF service host is started and likely before the first line of
code in Run() gets executed.

I'll

[2016-08-29 16:00] georgestevens99 commented on #69
Tomas,
More info.  The exception happens before the WorkerRole Start() method starts executing its code.  Here is the complete exception info:

System.IO.FileLoadException was unhandled
Message: An unhandled exception of type 'System.IO.FileLoadException' occurred in Microsoft.WindowsAzure.ServiceRuntime.dll

Additional information: Could not load file or assembly 'Microsoft.ApplicationInsights, V

[2016-08-29 16:23] #67 closed

[2016-08-29 19:28] #64 closed

[2016-08-29 19:58] ranjitkrishnan commented on #65
Just wanted to let you know the change you made works. I have downloaded the code and made the changes you suggested in WcfOperationContext. Now i can see dependencies getting linked to the request.  One more question, do we really need StatusMonitor to be installed on the server if framework 4.6.2 is not present on the server

[2016-08-29 20:14] georgestevens99 commented on #69
Found the problem and fixed it.

I have 3 projects that use the Application Insights assemblies.  2 of them
were using ApplicationInsights.dll version 2.1.0 (latest stable), and one
was using 2.2.0 (beta).  This caused assembly conflicts in the solution,
which showed up as compile time warnings.

When running the worker role Azure Runtime did not like the 2.2.0 assembly
that the assembly conflict

[2016-08-29 20:14] georgestevens99 commented on #69
Found the problem and fixed it.

I have 3 projects that use the Application Insights assemblies.  2 of them
were using ApplicationInsights.dll version 2.1.0 (latest stable), and one
was using 2.2.0 (beta).  This caused assembly conflicts in the solution,
which showed up as compile time warnings.

When running the worker role Azure Runtime did not like the 2.2.0 assembly
that the assembly conflict

[2016-08-30 01:29] tomasr commented on #65
@ranjitkrishnan Thanks for confirming that it works!

[2016-08-30 01:33] tomasr commented on #69
Glad you found out what was going on!

FYI, also had a moment to test the library with NetMessageBinding without issues. Here's one request tracked:

![image](https://cloud.githubusercontent.com/assets/16179/18072918/a895b0b6-6e27-11e6-8e16-8e31457ac09c.png)

The Request URL base does look a bit weird; though not sure if it's significant in any way:
![image](https://cloud.githubusercontent.com/ass

[2016-08-30 21:52] georgestevens99 commented on #69
Hi Tomas,
Thanks for checking out the NetMessagingBinding with the WCF Appllication
Insights support.

George

On Mon, Aug 29, 2016 at 9:33 PM, Tomas Restrepo <notifications@github.com>
wrote:

[2016-09-06 17:45] SergeyKanzhelev opened #70 "[AzureWeAppCounters] Incorrect CPU counter - need to devide by ticks to get percentage"

[2016-09-06 23:07] #61 closed

[2016-09-07 15:04] ranjitkrishnan commented on #65
@tomasr  When i was testing this piece more, i found one more issue. My service calls another service from within. These calls are not getting linked. It is linking SQL calls, HTTP Client calls which are all async awaits. But the WCF calls which is also async await, is not getting linked. Do you see any reason why it would not work ?

[2016-09-07 15:11] tomasr commented on #65
@ranjitkrishnan Are you talking about a WCF call over an HTTP binding, or something else?

[2016-09-07 15:44] ranjitkrishnan commented on #65
Yes. It is a WCF call over httpbinding. The remote service which my service is calling is hosted over SSL with certificate authentication

[2016-09-07 15:48] tomasr commented on #65
Right now we don't have any explicit WCF client side support. I've thought about it, but the only way I can think of doing it automatically would be by injecting a client-side endpoint behavior, but that would still require adding manual configuration to the code.

However, I'd would've still expected to see the underlying HTTP calls themselves being tracked by the default dependency tracking....

[2016-09-07 15:58] ranjitkrishnan commented on #65
So is it a limitation of WCF application calling a remote WCF service or even an ASP.NET web api application calling a remote WCF service ?

[2016-09-07 15:59] tomasr commented on #65
Can't say for sure without more tests. It could be something related to the async nature of the calls, because I've definitely seen regular HTTP tracking working for WCF calls, so doubt that's the issue itself.

[2016-09-07 16:16] ranjitkrishnan commented on #65
Currently I have installed status monitor in the server. Is it really needed for dependency tracking?

[2016-09-11 04:46] georgestevens99 commented on #69
Hi Tomas,

FYI here is a blog article I wrote about my experience with Application
Insights.  Thanks again for your assistance.

https://dotnetsilverlightprism.wordpress.com/2016/09/11/azure-application-insights-quick-and-easy-service-performance-and-health-monitoring/

George

On Tue, Aug 30, 2016 at 5:52 PM, George Stevens <georgiageorge99@gmail.com>
wrote:

[2016-09-13 02:19] tomasr commented on #69
@georgestevens99 Nice blog post, thanks for sharing!

[2016-09-29 16:12] #70 closed

[2016-09-29 16:13] #41 closed

[2016-10-20 21:04] ranjitkrishnan opened #72 "Custom Dependency Tracking in Application Insights"
I am using ApplicationInsights WCF SDK for monitoring my service. There are some dependency calls in the service like SQL, HTTP calls etc and they are automatically getting tracked. I was trying to track more dependencies to the request like the cache calls using the below code

             client = new TelemetryClient();
             try
            {
                dependencyCall;

[2016-10-20 21:06] tomasr commented on #72
What version of the NuGet package are you using? This seems related to Issue #65....

[2016-10-20 21:13] ranjitkrishnan commented on #72
ApplicationInsights: 2.1.0.0
ApplicationInsights.Wcf : 0.26.0.22375

The issue here is different from #65 . The issue of the original ticket was with the automatic tracking(SQL or HTTP calls) not getting linked to the original request.

Here is the issue is with Custom tracking. I am writing custom code to track details of more dependencies which are not automatically picked up by the SDK. But the

[2016-10-20 21:36] tomasr commented on #72
What do you mean by separate request? Are you saying they are logged on the wrong operation call? Can you share what that looks like in the portal?

[2016-10-20 22:13] tomasr commented on #72
FYI, I just created a simple repro service and I'm seeing dependency events getting associated to the request correctly:
![image](https://cloud.githubusercontent.com/assets/16179/19579873/6c6b1c4a-96e8-11e6-8a75-1648a8fb30b7.png)

[2016-10-21 00:55] ranjitkrishnan commented on #72
See the screenshots below.

Screenshot 1:

Telemetry entry related to the service call. You can see the SQL call and REST based calls as dependencies there. It doesnt have the Custom trace i did

![image](https://cloud.githubusercontent.com/assets/21229123/19582798/6dcd3038-9705-11e6-80af-26c009ecd66b.png)

Screenshot 2:

Telemetry entry related to the custom trace.

![image](https://cloud.githubu

[2016-10-21 01:05] tomasr commented on #72
Interesting, there's certainly something else going on.... because it also seems like your requests are getting traced twice (once using the WCF handling and once using.... something else. Do you by any chance also have the Microsoft.ApplicationInsights.Web NuGet package installed on your service application?

[2016-10-21 01:24] ranjitkrishnan commented on #72
Yes. I do have Microsoft.ApplicationInsights.Web installed in the service project.

[2016-10-21 01:31] tomasr commented on #72
Well, that explains it.... unfortunately, it's not possible to have both coexist nicely in the same application. There are basically some challenges:
* For HTTP-bindings, the ASP.NET HttModules will kick in and see the request (meaning the ASP.NET AI httpModule will create a Request event for it) and then WCF will see it and... create a second one. It didn't used to be possible to avoid this, but

[2016-10-21 01:53] ranjitkrishnan commented on #72
You are right Tom.

I think Web nuget package might have came in the project as part of the WCF install and i really doesn't need that. I have uninstalled the package and it worked and now i can see the dependencies getting linked properly.

Thanks for the assistance.

[2016-10-21 01:53] #72 closed

[2016-10-21 01:55] tomasr commented on #72
WCF shouldn't be bringing in the Web package. However, a common issue I've run into a couple of times myself is when creating the project letting the "Enable Application Insights" checkbox in the New Project dialog checked, and that will bring it in for sure (I think all the AI-related features in Visual Studio right now would end up bringing it in, including the "connect project to Application In

[2016-10-21 01:58] ranjitkrishnan commented on #72
Correct. May be i would have done that. I dont exactly remember how i enabled application insights in my project now.

[2016-10-25 18:19] ranjitkrishnan commented on #72
I have a question. Is the request time noted in the service call, the time it got picked up by WCF or the time the request got picked up by ASP.NET. If it is WCF, then would not the request time logged by AI, a little less than the actual ? Especially in a load scenario?

[2016-10-25 18:25] tomasr commented on #72
@ranjitkrishnan That is correct, we log the time when the request is picked up by WCF. Usually, ASP.NET time should not be significant and if you do not need ASP.NET integration, you can basically remove it by disabling ASP.NET compatibility in the service hosting environment settings.

But even then, there are things we won't be able to pick up....

For example, I have found no way reliable way t

[2016-10-28 19:20] ranjitkrishnan opened #76 "How can i log data from the request in the request telemetry"
I  have a need to log some of the details of the request in Application Insights which will help me better track the web service requests.

I thought of logging it as CustomData in the request. I found the way to do so is by setting Context properties in the telemetry client.

I did so with the code below.

telemetry.Context.Properties["CustomGuid"] = data;
telemetry.TrackRequest(request);

But th

[2016-10-28 20:02] tomasr commented on #76
You can obtain the `RequestTelemetry` object corresponding to the current request from the `OperationContext` like this:

[code]

You don't need to call `TrackRequest()` in this case.

[2016-10-31 14:32] #76 closed

[2016-10-31 21:17] kartang commented on #59
I am planning to implement RatioGauge that computes the percentages (or ratio). Please let me know if the following correlation for the above mentioned performance counters is accurate:
a.	case @"\ASP.NET Applications(??APP_W3SVC_PROC??)\Cache Total Hit Ratio": **totalCacheHits/totalCacheMisses**
b.	case @"\ASP.NET Applications(??APP_W3SVC_PROC??)\Cache API Hit Ratio": **apiCacheHits/apiCacheMisse

[2016-10-31 21:39] SergeyKanzhelev commented on #59
if you need ratio you need to divide by sum of misses and hits. Isn't it right?

I'm not sure what the `FooBase` is for. Most probably you are correct.

[2016-11-01 00:38] ranjitkrishnan commented on #65
@tomasr . I have installed 4.6.2 framework in the server. But still i cant see the dependent WCF calls (over http binding) linking to my service request as a dependency.

Can you think of any reason of why dependent WCF calls are not getting linked.

Attaching the trace captured from Visual studio. IN that one with mediasvcqa are the service calls which are not getting linked to service requests.

[2016-11-01 13:23] SergeyBarskiy opened #77 "OnBeginRequest Change"
In order to log full message body with errors, IWcfTelemetryModule.OnBeginRequest should include Message request parameter.  Here is the proposed change:

void OnBeginRequest(IOperationContext operation, Message request);

[2016-11-01 15:10] tomasr commented on #77
@SergeyBarskiy The original design was much like this, but I didn't want to expose that much directly. Notice, however, that this is not enough.

The signature would need to be:
[code]

Because chances are if you read the message, you'll need to replace it with a completely new buffered message, because otherwise processing the message will fail if the body stream has been consumed.

That said, I'

[2016-11-01 15:15] tomasr commented on #65
@ranjitkrishnan I see in some of the traces that the ai.operation.id property is missing, but not sure where those might be coming from. I suspect there are some calls being made in threads we can't find a relation to the original request thread.

Could you capture an ETW trace using [PerfView](https://www.microsoft.com/en-us/download/details.aspx?id=28567) with the following command line:

[code]

[2016-11-01 17:24] ranjitkrishnan commented on #65
@tomasr Please find the perfview trace attached.
[PerfViewData.etl.zip](https://github.com/Microsoft/ApplicationInsights-SDK-Labs/files/564599/PerfViewData.etl.zip)

[2016-11-02 15:24] tomasr commented on #65
@ranjitkrishnan As I suspected, the trace shows there are a bunch of things happening in threads where no OperationContext can be found.

So sounds like you still have stuff going on in completely independent threads where the operation context is not getting flowed.

Without knowing more details about what your service implementation looks like, it's going to be hard to figure out what options we

[2016-11-02 15:29] tomasr commented on #77
OK, I've been looking at this and decided on a different approach.

Instead of changing the signature for all telemetry modules (which would also break anyone who's already depending on `IWcfTelemetryModule`), I'll introduce a separate interface (`IWcfMessageTrace`) for this:

[code]

This way, supporting tracing messages would be seen as an __optional__ thing for modules, and would not add the ov

[2016-11-02 15:44] ranjitkrishnan commented on #65
@tomasr , It is a normal WCF service where all the dependency calls are made asynchronously. The service has the following dependencies which are all async awaits.

1. REST based call to bing map service for geocoding
2. WCF service call which do some image processing
3. Database calls for fetching and saving data.

Here the WCF calls are the one which are not linked (or not having operation conte

[2016-11-02 20:57] SergeyBarskiy commented on #77
Sounds goo to me, Thomas.   Yes, I am planning to log the message to AppInsights, but I have not decide if I am going to do this for request or just errors.  Probably just errors.  If we read and replace message in Before, I would need access to it in the After, since I really want to log the responce, not really a reply.  I feel some people may want to log reply as well.   As a result, it would n

[2016-11-02 21:04] SergeyBarskiy commented on #77
I hate to pile on, so tell me if I need to open another issue.  There is currently no way to inject custom properties into telemetry.  I had to create / override exception tracking module to do so.  Not a big deal, but so far we found that we always want to add custom properties. I could not come up with a clean way to do it without custom module vs exception module that is included.  Thanks again

[2016-11-03 03:56] tomasr commented on #77
@SergeyBarskiy I'm not sure I fully understand your scenario.... are you talking about logging the response message containing the SOAP fault? Or something else?

As for your second issue, you should be able to write an `ITelemetryInitializer`. If that's not fitting your needs for whatever reason, do open a separate issue so that we can track it separately :smile:.

[2016-11-03 11:30] SergeyBarskiy commented on #77
I'll give it some more though and post back if needed.  Thanks again, Tomas!

[2016-11-15 15:00] tomasr commented on #65
@ranjitkrishnan I've been trying to repro this, so far without success. Here's the code I'm using on the service:

[code]

Here's what the resulting telemetry looks like:

![image](https://cloud.githubusercontent.com/assets/16179/20310288/5d5392a6-ab19-11e6-99fb-a09df58e51ae.png)

You can see that all 10 requests ended up being tracked correctly. I'll admit this is on .NET v4.6.2, so that might be

[2016-11-15 21:26] tomasr commented on #77
@SergeyBarskiy Have you identified more closely what your requirement is? I'd like to make sure we're supporting it correctly!

[2016-11-19 21:07] anblanco opened #78 "App Insights should provide a PowerShell Module"
Opened from [AppInsights Home Issue](https://github.com/Microsoft/ApplicationInsights-Home/issues/67)

As a developer, I would like to use Application Insights from PowerShell, so that I can combine my applications telemetry with any infrastructure telemetry. I also would like to start instrumenting my scripts with Application Insights, so that I can get more insights into how people are using the

[2016-12-09 21:35] SergeyKanzhelev opened #82 "WCF with AI SDK 2.2 uses some obsolete properties"
@tomasr  some of the properties got obsolete in 2.2. This needs to be fixed:

[code]

[2016-12-09 21:49] #82 closed

[2016-12-14 17:52] #60 closed

[2016-12-14 17:52] #59 closed

[2016-12-14 17:55] SergeyKanzhelev opened #84 "Is there easy way to detect WCF from HttpModule"
@tomasr - is there an easy way to detect that the request was processed by WCF infra from HttpModule? I am looking for a way to notify WCF users that they need to install WCF NuGet for better information collection from the standard `ApplicationInsights.Web` NuGet.

I'm thinking maybe some routing information got stored in `HttpContext` or something like this.

[2016-12-14 19:43] tomasr commented on #84
Not sure, but maybe checking `HttpContext.Handler` against known handlers? For integrated pipeline mode, this should be `System.ServiceModel.Activation.HttpHandler`, `System.ServiceModel.Activation.ServiceHttpHandlerFactory`, or `System.ServiceModel.Activation.AspNetRouteServiceHttpHandler`.

Not entirely sure this would be possible at the stage your're hooking into, but might be a possibility.

[2016-12-18 18:09] tomasr commented on #84
I did some more checking on this, and it would appear that if you wanted to use `HttpContext.Current`, you'd need to also hook into the `PostMapRequestHandler` event (which can fire multiple times for each request), as looking at this either in `BeginRequest` or `EndRequest` would just return `null`.

Not sure if this is something you'd be able to do.

[2016-12-20 15:59] ACsharp commented on #23
I have the same issue. Project targeting .NET 4.0 and including Microsoft.ApplicationInsights.WindowsServer 2.2.0.

[2016-12-20 16:21] tomasr commented on #23
@ACsharp Can you clarify a bit more what problem you're having? I just did a quick test with the current package in MyGet and not seeing any issues....

[2016-12-20 16:34] ACsharp commented on #23
@tomasr interestingly this issue seems to be environment-dependent.
It works on VS 2015 on Windows 10. It does not work on VS 2013 on Windows 7

Repro steps:
- Create a new WCF app targeting .Net 4.0
- Add Microsoft.ApplicationInsights.Wcf via Nuget (last version 0.26.0-build49415)
- Run the application

[2016-12-20 18:39] tomasr commented on #23
@SergeyKanzhelev Any idea where this might be coming from?

[2016-12-20 19:49] SergeyKanzhelev commented on #23
Hm, it seems that wcf wasn't signed for `net40`. As a workaround - migrate your projects to `net45+`. I'll look into it

[code]

[2016-12-20 21:36] SergeyKanzhelev commented on #23
Should be fixed in `Microsoft.ApplicationInsights.Wcf.0.26.0-build52563`

[2016-12-21 10:45] ACsharp commented on #23
It works now. Thank you, @SergeyKanzhelev for the quick and effective fix.

[2016-12-31 05:00] rahul24 opened #87 "System.ObjectDisposedException"
There are lots of such traces are getting logged in app insights.

AI (Internal): [msg=Log Error];[msg=Exception while initializing Microsoft.ApplicationInsights.Wcf.UserAgentTelemetryInitializer, exception message - System.ObjectDisposedException: Message is closed.
   at System.ServiceModel.Channels.BufferedMessage.get_Properties()
   at Microsoft.ApplicationInsights.Wcf.Implementation.WcfOperat

[2017-01-02 16:41] tomasr commented on #87
Is this the only exception of this type that you're seeing? I've been trying to track these (unsuccessfully) for a while now without much success.

They might be related to other WCF behaviors being present in the stack and the order they run into, but not sure which ones yet, so any additional information you can provide on your setup would definitely help!

There's also the fact that `OperationC

[2017-01-02 18:12] rahul24 commented on #87
Yes, only getting DisposedExcetion in different initializers. Even, for me this one is not coming in local setup but occurring when code is in action (deployed). What if we check "IsDispose" property before accessing that BufferedMessage.get_Properties() or any pointers would be helpful to fix for same?

[2017-01-02 18:17] tomasr commented on #87
The problem is that we don't have access to the actual message object (WCFs `IOperationContext` wraps the message and provides access to the headers/properties, but no way to check if the message is not disposed before accessing it).

I have certainly thought to add some exception catchers for this, but it would still lead to a telemetry event produced that would simply have some information missi

[2017-01-03 18:44] rahul24 commented on #87
I'm able to reproduce this problem by using directions you provided above. This problem would generally come when the call to external service has made asynchronously from within the ongoing request.  In my case, I hooked endpoint behavior with all external services (client) to track the dependency with proper values (i.e. operation name and time taken). So, when any call to external services has

[2017-01-03 18:51] tomasr commented on #87
That's interesting. So if I get this right, inside your service operation code you're initiating an async call to a service, then returning a response, and the service call is completing *after* the operation has returned, is that right?

If this is indeed the case, then yes, this would be sort of expected, but there might be a way to prevent it, if the Request telemetry object is still around. Le

[2017-01-03 19:03] rahul24 commented on #87
Yes, that's correct. As a fix, am getting the values (i.e. operationid of request) and associating with service dependency before initiating the external call  asynchronously. This way will able to associate request and dependency. But, since message is disposed therefore some of properties goes without initialized like user, session object of context (these initializers throws error which would h

[2017-01-04 19:10] tomasr commented on #87
The updated NuGet package (0.26.0-build56865) is now published. Can you give it a try and see if it works better for you?

[2017-01-06 06:33] rahul24 commented on #87
Sure. Will try and let you know.

[2017-01-17 18:47] SergeyKanzhelev opened #89 "WCF limitation - actual?"
Hi @tomasr

Is this [limitation](https://github.com/Microsoft/ApplicationInsights-SDK-Labs/blob/master/WCF/readme.md#current-limitations) is still actual:

I thought it is gone and can be removed from readme

[2017-01-31 10:23] ranveeraggarwal opened #91 "Does this also work with WCF Data Services?"
We have a WCF OData service and I tried to install Microsoft.ApplicationInsights.WCF in it. While, there were no errors, I couldn't see any tracking data.

Following the same steps on a vanilla WCF Service works for me.

So does this work on WCF Data Services by changing some configuration? If not, is there a similar package for the same?

[2017-01-31 12:32] tomasr commented on #91
It should work, provided the `<serviceTelemetry/>` behavior is correctly configured on the service. I've tested it once, and it worked, though I'm not sure it provides the best possible experience and would be keen to improve it.

What specific telemetry would you like to see? How would you like operations to be reported? Any specific data you'd like to see included in Request events?

[2017-01-31 13:57] ranveeraggarwal commented on #91
Currently, I don't need any custom events to be tracked, I just need my requests and server response time to be logged.

I didn't make any change apart from the steps described in the README (i.e., install and add instrumentation key).

[2017-01-31 14:11] tomasr commented on #91
Make sure you specified the `<InstrumentationKey>` element correctly in the ApplicationInsights.config file....

[2017-01-31 14:13] ranveeraggarwal commented on #91
Is that all that's required to make it work? In that case, I'll see if there's any other problem. Thanks for your help :)

[2017-01-31 18:05] tomasr commented on #91
Well, as I mentioned, it's either the Key being specified incorrectly, or the `<serviceTelemetry>` behavior is not in effect. The default NuGet package installation only adds the behavior to the unnamed `<serviceBehavior>` entry, but depending on how your service is configured, that might not be the right option. If you share your service config, we can help you ensure it is being used.

Alternati

[2017-02-10 06:19] CanerPatir opened #92 "Type 'Microsoft.ApplicationInsights.Wcf.Implementation.WcfOperationContext' in Assembly 'Microsoft.AI.Wcf, Version=0.26.0.60740, Culture=neutral, PublicKeyToken=31bf3856ad364e35' is not marked as serializable."
I get the following exception when using SqlServer.SMO libraries.  Type 'Microsoft.ApplicationInsights.Wcf.Implementation.WcfOperationContext' in Assembly 'Microsoft.AI.Wcf, Version=0.26.0.60740, Culture=neutral, PublicKeyToken=31bf3856ad364e35' is not marked as serializable.

[2017-02-10 13:12] tomasr commented on #92
Could you tell me what your code is doing with the SMO libraries? That might give a hint as what is going on.

I suspect the issue is that it's using a second AppDomain and trying to marshal the call context across them.

[2017-02-16 13:45] tomasr commented on #92
@CanerPatir We've published version `0.26.1-build00103` of the package on MyGet with the changes. Could you test and see if it fixes the issue for you?

[2017-03-06 12:46] Twoleeland opened #95 "VS2015: System.ArgumentNullException: Value cannot be null. Parameter name: service Provider at Microsoft.AppInsights.GettingStarted.Telemetry.SKUHelper.GetSKU"
Hello,

I get this error each time, when I start VS2015 and opening a VB class file (.aspx.vb or .vb) the first time after starting VS2015. The error is only showing one time after each start of VS2015. The error only appears in version 7.18 of AppInsight, regardless if CodeLens is enabled or not. With version 7.12 this error doesn't appear.

The following entry is written in the ActivityLog.xml:

[2017-03-06 17:06] SergeyKanzhelev commented on #95
@gardnerjr can you please look at this one?

[2017-03-06 18:09] gardnerjr commented on #95
Can do.  have escalated it internally.  @Twoleeland are you opening an entire solution or just a VB file by itself?

[2017-03-06 18:23] gardnerjr commented on #95
Internally: Bug 941257: System.ArgumentNullException: Value cannot be null. Parameter name: service Provider at Microsoft.AppInsights.GettingStarted.Telemetry.SKUHelper.GetSKU

[2017-03-06 22:57] paruizfi commented on #95
We were unable to reproduce this issue, tried opening a vb file in a solution and vb file on its own. Are you getting any other errors before this happens?

[2017-03-07 08:12] Twoleeland commented on #95
I'm sorry, but I think, I posted it wrong. :-/ Please, excuse the inconveniences! I didn't mean the SDK, I meant the "Developer Analytics Tools"-extension, which includes AppInsights. I wrote a feedback through VS 2015 for this problem. Thanks a lot anyway! :-)

[2017-03-07 16:59] SergeyKanzhelev commented on #95
Closing the issue here

[2017-03-07 16:59] #95 closed

[2017-03-08 03:56] tomasr opened #96 "Builds broken in VS2017"
Just ran into this: Opening the solutions in VS2017 is currently broken; VS will think that the `<IntermediateOutputPath>` is not set, causing it to try to modify the project files on open. Builds are broken with the matching MSBuild because `<BaseIntermediatePath>` does not get set correctly and ends up pointing somewhere under Program Files.

The cause of the issue is a change in MSBuild: https:

[2017-03-08 11:13] norek opened #97 "The parameters to the Event method do not match the parameters to the WriteEvent method - error"
Hi, I cant see all requests on azure dashboard. When i attached debuger to service i discovered this message in Output Window:

Case study:
* Every request have the same parameters
* One request per 2 seconds
* Only maybe 1 of 10 request is sended to azure correctly, other have error described above.
I have newest version of SDK. .NET 4.0.

[2017-03-09 00:26] SergeyKanzhelev commented on #97
Which SDK do you use? Can you share list of NuGets with versions. What type is your application?

[2017-03-09 00:40] SergeyKanzhelev commented on #96
Installing an RTM of VS 2017 to try it out...

[2017-03-09 06:22] norek commented on #97
Sure, Its classic WCF hosten by Windows Service
[ai_cfg.txt](https://github.com/Microsoft/ApplicationInsights-SDK-Labs/files/829937/ai_cfg.txt)
[cfg.txt](https://github.com/Microsoft/ApplicationInsights-SDK-Labs/files/829936/cfg.txt)
[packages.txt](https://github.com/Microsoft/ApplicationInsights-SDK-Labs/files/829938/packages.txt)

[2017-03-09 13:11] tomasr commented on #97
I've been going over the WCF ETW provider and can't seem to find a scenario that would trigger this error, nor have I been able to reproduce it so far. It could possibly come from any other `EventSource` class on the process, though.

Also, from looking at the `EventSource` code, seems like this message would get logged to the output trace, but it shouldn't actually cause the code to fail...

Besi

[2017-03-09 13:36] tomasr commented on #97
Update: Found the issue. PR with fix coming up. It should only be coming up when a telemetry module failed, so there's definitely an exception that we're trying to log and failing.

[2017-03-09 16:55] #97 closed

[2017-03-09 16:59] tomasr commented on #97
@norek Once you test the new version with the fix, can you let us know if a) it fully fixes the issue for you, and b) what exception is being recorded in the ETW events that's causing request tracking to fail in your case? Sounds like there's an underlying issue and I'd like to get to the bottom of it ASAP :smile:

[2017-03-09 17:05] SergeyKanzhelev opened #99 "Add EventRegister NuGet to catch EventSource problems during compilation"
@tomasr please use [EventRegister](https://github.com/Microsoft/ApplicationInsights-dotnet/blob/develop/src/Core/Managed/Net40/packages.config#L5) NuGet to catch problems with EventSource (like one you just resolved) during the compilation

[code]

[2017-03-09 23:35] #99 closed

[2017-03-10 07:10] norek commented on #97
hi, thanks for quick fix.
a) Yes, previous error was fixed but i have other:

WCF Telemetry Module RequestTrackingTelemetryModule failed stage OnEndRequest with exception: test.exe
b) Can you describe simplest way to grab those exceptions?

[2017-03-10 14:10] tomasr commented on #97
@norek: Thanks. I actually managed to code yet another bug into my `EventSource` that's causing the message you mentioned to be missing the trace. I'm currently looking at adding some tests to this, as I should've done in the first place!

In the meantime, since it seems you can repro this in the debugger, could you try this? Disable the 'Just my Code" option so that the output window contains all

[2017-03-11 00:13] SergeyKanzhelev opened #102 "build break"
@tomasr can you pls take a look

[code]

[2017-03-13 07:39] norek commented on #97
Hi, i investigate problem deeper, i clone you project and attach in debug mode. I find two issues.
a) I got `ObjectDisposedException` On method `HasIncomingMessageProperty` in class WCfOperationContext. I dont know why, i was debuging some time and i dont get any sollution.
b) After exception from a)  i got an exception causeing this exception`failed stage OnEndRequest with exception`. `RequestTra

[2017-03-13 10:30] tomasr commented on #97
@norek Thanks for the report. I've made a couple of changes to prevent this, though the interesting bit here is that this should only happen in two cases: Either we're trying to track the same request object twice (which shouldn't happen) or the user code added a Protocol property to the request already.

We certainly don't want to fail on the second case, but the first one is interesting, and hav

[2017-03-13 16:34] #102 closed

[2017-03-14 07:04] norek commented on #97
Hi, No i dont have any configuration in config file applied. I have only attribute `[ServiceTelemetry]` above my WCF class and `[OperationTelemetery]` above methods. But...My service is in SingleContextMode maybe this is causing the problem
`[ServiceBehavior(InstanceContextMode = InstanceContextMode.Single, IncludeExceptionDetailInFaults = true)]`?
Ill try change it to `PerCall`.

[2017-03-14 11:22] tomasr commented on #97
Can you try the latest version and see if that one works better for you? I think I've cleared out all the issues you ran into....

[2017-03-14 12:14] norek commented on #97
Yup, it looks like everything its working perfectly, THANKS!

[2017-03-14 21:31] SergeyKanzhelev commented on #96
@tomasr if you'd have time - please try to apply similar change: https://github.com/Microsoft/ApplicationInsights-dotnet/pull/466#pullrequestreview-26937657

Not sure it will fix this problem, but it will help with Stylecop

[2017-03-15 01:18] tomasr commented on #96
@SergeyKanzhelev Yes, that fixes it. And figured out why StyleCop wasn't kicking in: I never added the Settings.StyleCop file and the StyleCop.MSBuild nuget *facepalm*. Now I've got a lovely 6200+ warnings :/

[2017-03-15 15:54] SergeyKanzhelev commented on #96
You can exclude all existing files from stylecop analysis so only new files will need to be fixed. Later we can uncomment files one by one.

[2017-03-16 16:03] OmerRaviv commented on #95
@Twoleeland Can you please reference the ticket you opened through VS2015? I'm seeing this issue as well

[2017-03-16 16:08] gardnerjr commented on #95
@OmerRaviv what's your full repro steps?  (and is this also against 7.18 of the developer analytics tools?)  We're trying to repro this to fix it, but we've never seen the problem so there might just be something subtle in what we're doing that doesn't match what you guys are, or what else you might have installed?

[2017-03-16 17:14] OmerRaviv commented on #95
@gardnerjr I actually haven't been able to repro this myself either, still trying. I'm authoring a VS extension (http://www.oz-code.com) and had a customer complain about getting this error right after installing my extension.

The customer has version 7.18.00214.2 of the developer analytics tools installed on VS2015 Enterprise Version 14.0.25431.01 Update 3.

[2017-03-20 17:53] tomasr commented on #96
I've now fixed all of the issues in the existing source (I think), but here's a question... how are you dealing with the old StyleCop parser throwing SA0102 errors on newish C# features? Seems this is expected, so wonder if you're just avoiding the use of such constructs for now?

Seems like the recommended alternative is to move to https://github.com/DotNetAnalyzers/StyleCopAnalyzers.

[2017-03-20 20:51] SergeyKanzhelev commented on #96
I think we will be moving to analyzer where possible. But the latest stylecop should support those language constructions... Can you please try to update the `StyleCop.MSBuild` package to the latest?

[2017-03-20 23:21] tomasr commented on #96
@SergeyKanzhelev Yep, already on latest. Specifically seems to dislike using `?? throw` for null-check + assignment, as in:

[code]

[2017-03-22 12:25] OmerRaviv commented on #95
Here's what the customer who's experienced this has installed:

Microsoft Visual Studio Enterprise 2015
Version 14.0.25431.01 Update 3
Microsoft .NET Framework
Version 4.6.01055

Installed Version: Enterprise

Architecture and Modeling Tools   00322-90001-94463-AA979
Microsoft Architecture and Modeling Tools

UML® and Unified Modeling Language™ are trademarks or registered trademarks of the Object

[2017-03-22 14:28] mlooise opened #104 "Incomming and outgoing request of a WCF service"
Hi,

I have a small question regarding message logging in WCF. Is it possible to log the incomming and outgoing request of a SOAP message? What I have done so far is setup MessageLogging trough the existing diagnostic mechanisms  of WCF and try to hook this into application insight.

` <diagnostics>
      <messageLogging logEntireMessage="true"
              logMalformedMessages="true"

[2017-03-22 14:33] tomasr commented on #104
@mlooise There is an example of doing this by implementing a custom telemetry module here: https://github.com/Microsoft/ApplicationInsights-SDK-Labs/blob/master/WCF/Shared.Tests/TraceTelemetryModule.cs

This might be an option if you have not-too-long messages.

[2017-03-23 07:58] mlooise commented on #104
@tomasr Thanks for your reply. I tried this solution and it seems to fit my needs. Thanks!

I am wondering; why is this module currently implemented in the test package of AI.WCF. It looks to me as it could be usable as a telemetrymodule for general use (users could then just config it in the AI.config). It worked out of the box for me emitting events for every request/response.  Now I had to copy

[2017-03-23 14:32] mlooise opened #105 "Wcf DependencyTracking and regular Dependency Tracking TelemetryModule"
Hi,

I have question regarding the two dependency tracking modules that exist in both AI.WCF and regular Application Insight. First of all I am wondering whether the two modules are built to live together? I have read some comments that the two are not working together very well .(https://github.com/Microsoft/ApplicationInsights-SDK-Labs/issues/72). It this still the situation as of now? It looks

[2017-03-23 15:15] tomasr commented on #104
@mlooise The reason this is in the test package is because it is literally helper code to test a library feature, rather than something expected that users would use on its own.

It's also not very efficient, as it requires buffering the whole message content in memory. Some users might be OK with that, but for others that might introduce an unacceptable penalty (particularly if you're using large

[2017-03-23 15:17] tomasr commented on #105
As you have noticed, yes, this duplication of requests is still an issue (actually, in some cases it can go beyond that, depending on what bindings you're using).

There's no way to solve this right now without some sort of common agreement and changes between the core SDK and the WCF SDK, and frankly I'm still trying to figure out what that could be.

@SergeyKanzhelev Is there anyone from the Dep

[2017-03-23 17:02] SergeyKanzhelev commented on #105
@TomMilos is working on collecting dependencies for non-HTTP Azure storage API calls. I think the right way to do it will be to instrument Azure SDK itself. However once instrumented it may pose the same challenge of duplicating dependency calls collection. So I think this is a common problem needs solving.

I was thinking of marking the current thread as already tracking dependency. So enclosed d

[2017-03-23 17:02] SergeyKanzhelev commented on #105
@mlooise - do you like how WCF depednencies being collected (apart from duplication)? I was thinking we need to move it to the main dependency tracking module so feedback is greatly appreciated before we'll start.

[2017-03-23 18:44] mlooise commented on #105
@SergeyKanzhelev I am quite pleased with the WCF clientside-dependency tracking. For us it is far more usefull to see what specific operation is called on a .svc endpoint instead of just the 'POST'. For us a lot of operations are grouped into one WCF service so it is usefull to see which specific method is called and how long it took to complete. So for me a thumbsup on this implementation. I woul

[2017-03-23 19:08] mlooise commented on #104
@tomasr Ok clear, thought some like that. I think that it can be a usefull addition to the package. We are for instance going to use it on our Develop and Test environments to make reproduction of testing-issues easier. We don't want to enable it on Production or Acceptence because it could indeed have a performance/resource impact. Still; If it is clear to 'use at own risk' and only enable it whe

[2017-03-24 01:23] tomasr commented on #104
About tracking the messages, another option I've considered is adding code to track not the raw messages, but the actual parameters passed to the function (maybe as json? not sure). That could be useful in some scenarios, particularly if there's a way to annotate them for selective tracking.

About the docs, It's definitely an interesting issue, because it's far beyond the WCF SDK. It's really par

[2017-03-24 06:45] johnrah commented on #95
I have the same error appearing but with Blend 2015.  VS 2015 is not showing this error for me.
Typically I will select Design With Blend from VS and this error appears.
I've attached the activity log.  Record 508 is where the error occurs.
This only started happening after installing VS2107 RC

[ActivityLog.xml.txt](https://github.com/Microsoft/ApplicationInsights-SDK-Labs/files/867083/ActivityLo

[2017-03-24 18:29] gardnerjr commented on #95
Huh.  our extension shouldn't be loading in Blend, so that's problem 0.  somehow it is loading our editor extension, but not our package.  that should not be happening.  The fact that it started happening in Blend 2015 after installing VS2017 of any flavor would be even more troublesome as the 2 should be completely unrelated.

@johnrah Is the project you're opening in blend configured in any way

[2017-03-25 02:56] johnrah commented on #95
I've done a bit of digging around.  The solution itself doesn't have any reference to App. Insights. However, the solution is part of a Visual Studio Team Services project which has another solution in it for an Azure Web Service (WebAPI) and that does have Application Insights as a Service Reference.
Is it possible that the Team Explorer is the culprit?  Even though I'm not loading the WebAPI sol

[2017-03-27 15:30] OmerRaviv commented on #95
@gardnerjr FYI I've had another customer report this issue happening immediately after installing OzCode (in VS), but he reported that after restarting VS, the problem went away and never came back.

As for Blend - it makes sense that this code will cause Blend to fail. The fact that Blend is loading your MEF extensions even though it doesn't load your package is unfortunately just the way Blend w

[2017-03-28 07:12] SergeyKanzhelev opened #107 "build error"
cc: @tomasr

[code]

[2017-03-28 13:07] tomasr commented on #107
Sounds like the build server is somehow ending up using an older version of StyleCop? Building locally on Release, with all StyleCop rules running, and I'm not seeing these errors. Do you have a build log you can share so I can check?

(Those errors all seem to be related to using newer C# constructs)

[2017-03-28 16:03] SergeyKanzhelev commented on #107
Do you have access to this: https://mseng.visualstudio.com/AppInsights/ChuckNorris/_build/index?buildId=3743486&_a=summary ?

[2017-03-28 23:51] tomasr commented on #107
Well, this is unexpected.

I squashed my commits before pushing and sending the PR. My *local* changes compile cleanly, while the *pushed* changes (and thus the result after the merge) don't. Will try to resolve and send a new PR.

[2017-03-29 00:06] tomasr commented on #107
Update 2: Finally figured what's going on.

The problem only happens when building `dirs.proj` and not when building `WCF.sln`, because it builds `DependencyCallstacks.sln` first. That project references an older version of the StyleCop.MSBuild package, and it seems MSBuild is using that same one for building the `WCF.sln` solution, despite it referencing a newer version of the package.

PR updati

[2017-03-29 03:45] #107 closed

[2017-03-29 03:52] #96 closed

[2017-03-31 17:48] AdamWaw commented on #95
I have same happening to me every time I open Blend (2015, Update 3):

1 error:
System.ArgumentNullException: Value cannot be null. Parameter name: serviceProvider at Microsoft.AppInsights.GettingStarted.Telemetry.SKUHelper.GetSKU(IServiceProvider serviceProvider) at Microsoft.AppInsights.GettingStarted.Telemetry.SKUHelper.get_IsExpressSKU() at Microsoft.AppInsights.GettingStarted.CodeLens.CodeLen

[2017-04-13 00:52] Alexander1967muc opened #109 "Issue with self-hosted WCF"
Hello!

I'm having an issue when using AI.WCF with a self-hosted WCF Service.
In my Service method, I'm using OperationContext.Current.GetRequestTelemetry() to get the current RequestTelemetry object so that I can add custom properties.
If I call the method in short intervals, I getting the same RequestTelemetry object from the previous call instead of a new object. The Service is set to InstanceC

[2017-04-13 03:30] SergeyKanzhelev commented on #109
@tomasr

@Alexander1967muc do you have a small repro app?

[2017-04-13 19:58] tomasr commented on #109
Any info you can provide on what your code looks like would be useful. The request telemetry object is directly tied to the `OperationContext` object, unless we end up looking for said context in the thread's logical call context, which should not be happening in such a scenario....

[2017-04-13 20:10] Alexander1967muc commented on #109
Hi Tomas,

thanks for getting back.

I just responded with a sample app.
I hope the ZIP file goes through.

Cheers
Alexander

Von: Tomas Restrepo [mailto:notifications@github.com]
Gesendet: Donnerstag, 13. April 2017 21:58
An: Microsoft/ApplicationInsights-SDK-Labs <ApplicationInsights-SDK-Labs@noreply.github.com>
Cc: Roethinger, Alexander <aroethinger@affili.net>; Mention <mention@noreply.github.

[2017-04-13 20:26] Alexander1967muc commented on #109
Hi Sergey,

thanks for getting back to me!
I’ve prepared and attached a small solution that reproduces the behavior.

The solution contains three projects:
* WcfService1 – a standard IIS hosted WcfProject
* WcfServiceLibrary1 – a service library containing the same contract as WcfService1
* WcfServiceLibraryConsoleApplication1 – a console app which hosts WcfServiceLibrary1

The service method retu

[2017-04-13 20:28] tomasr commented on #109
It doesn't seem the attachment is making it though... could you try sending it to tomas @ winterdom.com?

[2017-04-13 20:40] Alexander1967muc commented on #109
Done.

Cheers
Alexander

Von: Tomas Restrepo [mailto:notifications@github.com]
Gesendet: Donnerstag, 13. April 2017 22:28
An: Microsoft/ApplicationInsights-SDK-Labs <ApplicationInsights-SDK-Labs@noreply.github.com>
Cc: Roethinger, Alexander <aroethinger@affili.net>; Mention <mention@noreply.github.com>
Betreff: Re: [Microsoft/ApplicationInsights-SDK-Labs] Issue with self-hosted WCF (#109)

It does

[2017-04-13 21:10] tomasr commented on #109
@Alexander1967muc Thanks for the repro; just submitted a PR that should fix this issue.

[2017-04-13 21:11] #109 closed

[2017-04-13 21:26] Alexander1967muc commented on #109
Wow, thanks!

[2017-04-13 21:32] SergeyKanzhelev commented on #109
Fix should be on myget

[2017-04-13 21:49] Alexander1967muc commented on #109
Works as expected now.
Thanks again!

Von: Sergey Kanzhelev [mailto:notifications@github.com]
Gesendet: Donnerstag, 13. April 2017 23:32
An: Microsoft/ApplicationInsights-SDK-Labs <ApplicationInsights-SDK-Labs@noreply.github.com>
Cc: Roethinger, Alexander <aroethinger@affili.net>; Mention <mention@noreply.github.com>
Betreff: Re: [Microsoft/ApplicationInsights-SDK-Labs] Issue with self-hosted WCF

[2017-04-13 21:55] tomasr opened #111 "Update WCF to v2.3.0 SDK"
Should update WCF SDK to target the v2.3.0 SDK recently released.

Also update dependency on Profiler Agent to 2.0.7, which is version required by same SDK.

[2017-04-15 13:15] ramondeklein opened #113 "GetRequestTelemetry() doesn't work with aysnc/await"
When `OperationContext.Current.GetRequestTelemetry()` is used in an asynchronous WCF service, it won't be available after the first `await` operation. Most WCF services don't have a synchronization context -which is a good thing for scalability and performance- so the operation context won't be restored after an awaited call completes.

It seems that the underlying `WcfOperationContext` properly u

[2017-04-15 13:42] tomasr commented on #113
@ramondeklein Thanks for the feedback. It is true we're currently flowing the operation context internally so that our own code can fill in dependencies and other things correctly.

However, I believe the specific issue you're seeing is caused because when you're calling `OperationContext.Current`, it is returning null, so it triggers the following if inside `GetRequestTelemetry()`:

[code]

I'll

[2017-04-17 16:07] #113 closed

[2017-04-17 16:49] ramondeklein commented on #113
Although this will fix the issue, I think it's very awkward to call a method on a null variable. It would work, because it's an extension method but it doesn't feel right. Why obtain the telemetry from the operation context and not from the call-context instead?

[2017-04-17 19:09] tomasr commented on #113
@ramondeklein It's a valid concern, though the only other option would just be to add a plain static method with no arguments. Not sure that is necessarily any better. The current method does have symmetry with the way the Web SDK works (which hangs the helper method of `HttpContext`).

Having it relate directly to the `CallContext` is not a good idea because right now this is an implementation de

[2017-04-19 12:58] jozefizso commented on #95
I have the same issue, stock Visual Studio 2015 Update 3 without any 3rd party extensions installed.

[code]

[2017-04-21 21:12] gardnerjr commented on #95
We have shipped an update to our tools for VS2015 Update 3, version 7.19:
[https://marketplace.visualstudio.com/items?itemName=VisualStudioOnlineApplicationInsights.DeveloperAnalyticsTools](https://marketplace.visualstudio.com/items?itemName=VisualStudioOnlineApplicationInsights.DeveloperAnalyticsTools)

which should fix this.  Unfortunately, i believe that the microsoft signing certificate has be

[2017-04-24 13:58] AdamWaw commented on #95
This has fixed my issue, thank you.

[2017-04-27 16:42] tomasr commented on #89
We can close this now as this is no longer a limitation

[2017-04-27 16:44] tomasr opened #115 "WCF Client Dependency Tracking failing on catch-all operations"
On the dependency tracking, if the call is through the catch all ("*") operation of a service contract, the call with fail with the following exception:

[code]

This is because the `ClientContract` class is not finding a match for the `SoapAction` header.

[2017-04-27 16:51] #89 closed

[2017-04-27 16:52] #115 closed

[2017-05-12 09:37] CanerPatir commented on #92
Thank you, it looks working successfully anymore.

[2017-05-12 09:37] #92 closed

[2017-05-17 14:30] alexmarshall132 opened #119 "WcfDependencyTrackingTelemetryModule has slow leak that causes requests to fail"
I've noticed that after using Microsoft.ApplicationInsights.Wcf.WcfDependencyTrackingTelemetryModule for quite some time to track WCF dependency calls that it starts to fail requests. It doesn't fail all requests, only requests on particular services.

* The services in question don't have anything distinguishing about their ServiceContracts: they're simple, duplex operations with only the name of

[2017-05-17 14:46] tomasr commented on #119
Thanks for reporting this! I will investigate in more detail. Couple of questions:

* You mention the leak eventually causes requests to fail. Do they fail do to an `OutOfMemoryException` or something else?
* Do you see memory usage of the app growing? Or do you see some other symptom? (specifically things like the number of handles being open in the process growing).
* Is the process running the

[2017-05-17 16:12] alexmarshall132 commented on #119
Hi Tomas,

1. They fail with an ArgumentNullException parameterName: "result"
2. I'll have to get back to you on the memory usage, I've been swamped with a number of things and haven't had the time to go check it (I'll be better about that for any future reports). I can dig into it this afternoon but I have some time-sensitive work to execute until then.
3. The process is running in 64-bit mode
4.

[2017-05-17 18:38] tomasr commented on #119
What's the lifecycle of the channel factory?

[2017-05-18 22:14] alexmarshall132 commented on #119
The channel factory is in singleton scope. We're using dependency injection with our application which manages the lifetime of the object.

Here's the full stack trace:

System.ArgumentNullException:
   at System.Runtime.AsyncResult.End (System.ServiceModel.Internals, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35)
   at System.ServiceModel.Channels.ServiceChannel+SendAsyncResul

[2017-05-19 00:19] tomasr commented on #119
That's one bizarre stack trace, as it's actually failing inside core WCF code (the part that creates Tasks out of the Being/End async model). Looking at that code, I don't quite see even how that `IAsyncResult` object could be `null` in the first place.

I've been trying to repro this on a sample app, but so far I haven't seen anything like this.

I did find a leak so far, but it should only happe

[2017-05-19 20:53] tomasr commented on #119
We've published version 0.27.0-build24883 of the NuGet packages with the changes mentioned above. If you have the chance, could you give it a try and see if it improves things for you?

[2017-05-21 09:59] alexmarshall132 commented on #119
Yes, pardon me, I misspoke: I did mean "two way" contracts rather than duplex. I'll download 0.27.0-build24883 and try it out as soon as I can, and report my results to you here.

[2017-05-24 13:03] neutrongenious commented on #65
same issue experienced by us.

[2017-06-13 16:31] tomasr commented on #119
@alexmarshall132 Have you had a chance to test these changes and see if they improve your issue? Thanks :smile:

[2017-06-15 23:34] alexmarshall132 commented on #119
Hi Tomas,

Unfortunately I have not. We've had some issues and unfortunately the
environments where I could test this have all been temporarily locked down
for another team working on a critical project and I've been locked out.
I'll have access again a week and a half at which time I'll test out the
newest version and provide feedback. Thank you for hanging in here so long
for this. I really appr

[2017-07-24 16:12] nhwilly commented on #97
I'm getting the same error, but not on WCF.  This is an ASP.NET Core app targeted at 4.61.  I turned off Just My Code and got this:

[code]

At first I thought it had to do with a custom telemetry logger that I wrote so I could swap out Application Insights if I needed to.  But I took that out and now I don't reference any TelemetryClients anywhere in the app and I still get this error.

Am I miss

[2017-07-24 17:14] nhwilly commented on #97
I believe I may have found the problem.  This was originally and ASP.NET MVC Core app that I retargeted to 4.61.  As such, the call in `program.cs` to `WebHostBuilder.UseApplicationInsights` fails unless Application Insights for ASP.NET Core in installed.

So I ripped out the packages for the web and just left the ones for ASP.NET Core installed.  Now I get this:
The parameters to the Event method

[2017-07-24 17:16] nhwilly commented on #97
And so, I retargeted every project in my solution (!) to `netcoreapp1.1` and the "Event" errors went away, but I still get this:
[code]

I hope these comments help someone, but I'm going to try to proceed with Just My Code enabled and hope someone responds to this.  Thanks in advance.

[2017-07-24 19:25] SergeyKanzhelev commented on #97
Hi @nhwilly I think there is a mix of many issues:

Seem to be CLR problem explained here https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/608

Is this only happens with Application Insights enabled? I doubt we use it in Application Insights so may be something with the code or configuration of your app.

Same here...

This error saying that some counters will not be collected

[2017-07-25 00:17] nhwilly commented on #97
@SergeyKanzhelev Thanks for the quick response.

What kicked this off was me starting out with `netcoreapp1.1`, then discovering that I couldn't use my libraries for Azure Functions (since they don't do Core yet) and just punting and retargeting everything to net461.  Sloppy, I know.  And then the AI stuff started complaining.  So today I decided I'd slog through it and figure it out.

Unfortunate

[2017-07-25 06:30] SergeyKanzhelev commented on #97
@nhwilly I think this repo is the best for Azure Functions questions related to Application Insights https://github.com/Azure/azure-webjobs-sdk/issues

[2017-07-25 12:47] nhwilly commented on #97
Thanks.

According to their repo, stackoverflow id preferred. I posted it here: https://stackoverflow.com/questions/45292109/azure-functions-application-insights-custom-telemetry-eventsource-instance

[2017-08-02 13:47] OliverRC commented on #76
@tomasr thanks for your answer. Any idea how to do this in ASP.NET?

[2017-08-02 14:01] williamjv9 opened #122 "Web App Service - PerformanceCollectorModule, added counters not displaying"
I’m unable to get “Add PerformanceCounter”  to work for our deployed Web App Services.

1.	I’ve added the SDK to my .Net (4.6.1) project via VS2017
2.	Installed https://www.nuget.org/packages/Microsoft.ApplicationInsights.PerfCounterCollector/
3.	Added a list of counters in ApplicationInsights.config
Example list:
    <Add PerformanceCounter="\Process(??APP_WIN32_PROC??)\Handle Count" ReportAs="Pr

[2017-08-18 09:42] keerthinath-ganjam opened #123 "When will the official launch of this will be done."
When will the official launch of this will be done.

[2017-08-18 09:46] keerthinath-ganjam commented on #5
When will the official launch of App insights SDK for WCF application will be done

[2017-08-21 12:24] keerthinath-ganjam commented on #123
Please respond

[2017-08-22 15:48] mlooise opened #124 "Binding problem with ClientTelemetry"
Hi All,

I've stubled upon a problem with the clientTelemetry Extension in the WCF extension (Microsoft.ApplicationInsights.Wcf.ClientTelemetryExtensionElement). This extension seems to completely loose the timouts on a binding that have been pre-configured through e.g. the web.config. What i have discovered is that somewhere in the code (in ClientTelemetryEndpointBehavior.cs, AddBindingParameters

[2017-08-22 16:01] tomasr commented on #124
@mlooise Nice catch!

You should be able to submit a pull request for this if interested, I will take a stab at fixing this and adding some tests later today (still have pending to review some things before completing the update to the v2.4 SDK)

[2017-08-23 22:24] #124 closed

[2017-08-23 22:52] tomasr commented on #124
@mlooise Build 0.27.0-build52604 is now out with this fix. Let us know if you find any other issues!

[2017-08-23 22:55] tomasr commented on #119
Closing this for now as we haven't had any more reports of this. If anyone runs into this again, please reopen as needed.

[2017-08-23 22:55] #119 closed

[2017-08-23 22:56] tomasr commented on #87
Closing as we have not had any more reports of this.

[2017-08-23 22:56] #87 closed

[2017-08-23 22:56] tomasr commented on #77
Since the proposed solution was implemented, closing this.

[2017-08-23 22:56] #77 closed

[2017-08-23 22:58] tomasr commented on #123
We've just published an updated version of this SDK. Status has not changed at the moment. @SergeyKanzhelev do you want to add anything here?

[2017-08-23 22:59] SergeyKanzhelev commented on #123
@keerthinath-ganjam what is the main request here? Have it on nuget.org or have an official support statement from Microsoft?

[2017-08-28 23:32] Hamaze commented on #123
The request is definitely to have it on nuget.org. It's a big pain in the rear for teams and build systems not having it on nuget.org.

[2017-08-29 15:31] jiberan opened #127 "Is hosting app responsible for calling Flush() when ends?"
Hi,
my WCF service is hosted in windows service but I'm not sure if I need to call client.Flush() when windows service stops to ensure that all data will be send.

Should I call it manually?

Thank you.
j.

[2017-08-29 15:37] tomasr commented on #127
The default telemetry channels do buffer data, so you indeed might want to call `Flush()` before terminating.

[2017-08-29 16:05] jiberan commented on #123
related to #5

[2017-08-29 16:21] tomasr commented on #127
@jiberan You can just initialize one based on `TelemetryConfiguration.Active`, which will tie it to the configured telemetry channel, afaik.

[2017-09-01 21:33] vmelamed opened #128 "Installing Client Dependency Telemetry Tracking With Code"
Hello,
I am very happy to see the telemetry extended to the WCF clients too and am eager to give it a try. However we configure most of our services and clients in code (we have internal framework for that). Can you please include a short example of how to configure the client in code. I figure it should be something like:

`ChannelFactory.Endpoint.EndpointBehaviors.Add(new ClientTelemetryEndpoint

[2017-09-01 21:38] vmelamed commented on #128
Looking at the source code it probably should be:
`ChannelFactory.Endpoint.Behaviors.Add(new ClientTelemetryEndpointBehavior(this));`

Am I on the right track here?

[2017-09-01 23:10] tomasr commented on #128
Hi @vmelamed
The [readme](https://github.com/Microsoft/ApplicationInsights-SDK-Labs/blob/master/WCF/readme.md#user-content-client-dependency-telemetry-tracking) explains how to configure dependency tracking in detail.

Let me know if you have any other questions...

[2017-09-01 23:12] vmelamed commented on #128
I was hoping for code configuration not config file configuration?
Thanks

[2017-09-01 23:27] tomasr commented on #128
Sorry, replied initially before I figured out what you were asking and edited the comment too late!

But yes, if you don't want to use the Profiler + ApplicationInsights.config, and want to use code, then simply adding the endpoint behavior is the right way to do it.

[2017-09-06 03:44] vmelamed commented on #128
Thanks! This worked but: when I configure the server/client with WebHttpBinding it throws exception (see below), which by looking at the code, is understandable - there is no soapAction for webHttp. Am I doing something wrong here? Any suggestions?

[code]

[2017-09-06 23:05] tomasr commented on #128
Thanks for reporting! I will investigate.

I am a bit curious as to what the expected results would be?

At the very least, it definitely should not fail, but I'd want to also make the output useful, and I'm wondering if the core HTTP dependency tracing wouldn't actually do a better job altogether here, in which case it might be better to just ignore those requests and let the core HTTP dependency

[2017-09-09 01:55] vmelamed commented on #128
In the last couple of days I played with WCF+AI and was thinking about your question. You are right that there is a bit of overlap between the two dependencies but then again WCF is not only about HTTP and you can see net.tcp or net.pipe client calls just as well and this is nice. Even on HTTP protocols it feels a little more natural to see the WCF language in the event.
This was the promise of WC

[2017-09-11 23:57] tomasr commented on #128
I've been looking at this and I think I know how to work this, but need to setup a more extensive escenario to test my ideas.

I also want to see if I can detect Web-based contracts and just ignore them, as another alternative (in which case, the standard HTTP-based dependency tracking would log them only once).

[2017-09-13 00:06] #128 closed

[2017-09-19 09:49] keerthinath-ganjam commented on #123
Yes main request is to have it on the nuget.org.

[2017-09-22 13:11] keerthinath-ganjam commented on #123
Any plans of releasing it to nuget.org, if so, by when.

[2017-09-22 18:22] haldiggs commented on #123
nuget would be great. Its a real pain to force my code build systems to grab this at the moment.

[2017-10-03 07:52] keerthinath-ganjam commented on #123
@SergeyKanzhelev , @tomasr : Any updates??

[2017-10-05 17:59] #91 closed

[2017-10-23 10:30] keerthinath-ganjam commented on #123
Is any activity happening in this repo ???

[2017-12-04 15:14] wijays opened #138 "Add NIC placeholder for custom performance counters"
Currently there are these placeholders:

[code]

I propose that something similar to `??APP_WIN32_NIC??` be introduced so that performance counters such as `\Network Interface(*)\Current Bandwidth` that require the NIC name can be used.

[2017-12-04 17:00] SergeyKanzhelev commented on #138
These placeholders are used when extra mapping is required between THE CURRENT process and performance counters INSTANCE NAME. In case of network counters you can simply specify the NIC you want to collect data for.

If your request is to support wildcard in names of performance counters that mean collect ALL instances - please file an issue here: https://github.com/Microsoft/ApplicationInsights-d

[2017-12-04 17:00] #138 closed

[2017-12-06 22:55] rodpl opened #139 "UserAgent Initializer overrides User.Id"
https://github.com/Microsoft/ApplicationInsights-SDK-Labs/blob/fd09b8ef47aafd84208b0bf3b63a86cc1df6d2fb/WCF/Shared/UserAgentTelemetryInitializer.cs#L41

Here should be userContext.UserAgent = knownAgent

[2017-12-07 01:44] #127 closed

[2017-12-07 02:10] tomasr commented on #139
Well, that's embarrassing. Thanks for reporting! Just pushed a test + fix for this.

[2018-02-23 16:21] #139 closed

[2018-02-23 17:25] tomasr opened #141 "Update WCF SDK to AppInsights v2.5.1"
With the release of the Microsoft.ApplicationInsights v2.5.x SDK, the WCF SDK should be updated to match.

This means dropping support for .NET 4.0, and supporting only .NET 4.5 and up, like the base SDK.

[2018-02-23 17:35] tomasr commented on #141
Changes merged, but no updated NuGet package in MyGet is available yet due to build issues.

[2018-03-09 23:13] tomasr commented on #141
NuGet package 0.28.0-build04789 published on MyGet

[2018-03-09 23:13] #141 closed

[2018-03-25 07:08] louislewis2 opened #146 "Dependency Error Tracking"
Hi,

I am using Application Insights, which is mostly a great experience :)
I have a question though around dependency tracking, by default
most of the "automatic" tracking works great.

How it determines failures, however is where I am stuck.
For example I am calling a REST endpoint, for an operation.
The fact that it returns a 200 response, does not mean that is was successful.

After I deserial

[2018-04-23 21:11] timothymcgrath opened #147 "Dependency Target Name"
I'd like to set the dependency target name to the full wcf uri instead of just the host name. All of my wcf services live behind the same host name, so they all get grouped together as the same dependency. Since each service has a unique uri, it'd be helpful to set the target to the full uri instead.

Here's the code in ClientTelemetryChannelBase.cs where it sets the target to Uri.Host:
[code]
Is

[2018-04-23 21:53] timothymcgrath commented on #147
@tomasr Right, the built-in one does it that way, too, which makes sense since it wouldn't know which part of the uri was the service and which part was just an operation on the service. It would end up with a dependency for every operation.

But since WCF usually has a single uri, it seems like it makes sense. But maybe I just have a special case where I have a lot of small WCF services and all m

[2018-04-23 22:02] tomasr commented on #147
@timothymcgrath Awesome! A TelemetryProcessor is definitely the way to go to work around these details!

[2018-06-15 14:57] vdesmedt opened #149 "Wcf Service calling another Wcf service loose track"
I have built a very simple web app calling a wcf service calling itself another wcf service. Using fiddler, I can see that the x-ms-request-root-id is different for both wcf calls which result in the correlation to be lost. Any idea what could help ?

[2018-06-15 15:39] SergeyKanzhelev commented on #149
is it async wcf service? CC: @lmolkova

[2018-06-15 18:49] lmolkova commented on #149
@vdesmedt
Unfortunately, we do not support correlation within WCF service. You may implement the workaround from this issue: https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/941.

By the way, this is Labs repo - WCF support here is not included when you install ApplicationInsights Web SDK.

[2018-06-19 10:05] vdesmedt commented on #149
@SergeyKanzhelev No it isn't even async, just pure old fashion WCF calls ;)
@lmolkova I'll investigate the workaround.  Thanks

[2018-07-12 07:47] sander1095 opened #150 "Some Telemetry is sent twice (By WCF package and Web?)"
Hello!

I have installed your package, but when I use it I see duplicate requests and exceptions being logged. I believe it might be because I am using an ASP.NET app which I configured AI for (All I did was the default AI configuration) and later on installed this WCF add-on.

**Duplicate request:**

![duplicaterequest](https://user-images.githubusercontent.com/7312681/42618697-1f986c88-85b6-11e8

[2018-07-12 07:50] sander1095 commented on #150
Might be related to https://github.com/Microsoft/ApplicationInsights-dotnet-server/issues/924

[2018-07-18 08:40] sander1095 commented on #150
Deleting the Web package fixed my issue with requests being logged multiple twice.

The duplicate exception was caused by my own code; `IErrorHandler.HandleError(Exception error)` would log it and so would some other code. This has been fixed :)

Thank you for this package!

[2018-07-18 08:40] #150 closed

[2018-08-01 15:34] haldiggs opened #152 "Quertion about MyGet repo"
can anyone explain why we have the source at https://www.myget.org/gallery/applicationinsights-sdk-labs but also source here at GitHub. I'd like to keep up but at one location. Which would that be?

Also, I have u=been using the WCF parts of this for a while. Will it ever become production level? I continue to have to justify this in every code audit because of it's open source nature.

[2018-08-07 14:54] #147 closed

[2018-10-22 07:57] Danthar opened #154 "Has this repo been abandoned ? Please communicate + myget issues"
- No commits / PR merged for over 8 months
- No answers of any kind on any of the issues regarding future planning and moving to nuget

It seems that this repo has been abandoned Microsoft style. Which means that nobody will confirm to the contrary, but Microsoft will just let it silently rot. Which is disheartening to be honest.

The reason why i came here:

We are having issues with the myget fe

[2018-10-22 08:00] Danthar commented on #154
And even if this integration has been deemed 'good enough'. Then please communicate this with the community! And release a new version of the integration that reflects this.

[2018-10-24 17:11] SergeyKanzhelev commented on #154
Is the only issue to have WCF package publish on nuget?

This repo was created for experiments. When we experiment we are coming back =). So far we have very minor interest in WCF monitoring. I think we can lose our stands and publish it is this is critical

[2018-10-24 19:00] Danthar commented on #154
I didn't realize that the labs are your experimental area. Looking at the readme, its like the first line in there :P totally missed that.

So yeah, myget feeds are continuing to cause problems when performing package updates on projects with many package dependencies (especially older style csproj's). So if you guys would consider moving to nuget. That would help us out.

[2019-01-15 14:19] #154 closed

[2019-01-15 14:32] haldiggs commented on #154
we love WCF integration. I would have to forget using Insights and find something else if not for the WCF integration piece.

[2019-01-22 12:16] rokern002 commented on #154
it would be great if the package will be moved to nuget, even if its a pre version. AI is a powerfull tool and there are alot of wcf projects where the maintainability can be improved just by attaching AI

[2019-03-01 17:15] lmnash opened #161 "Majority of WCF requests missing"
Hi

We have been using this SDK to monitor our main WCF service (hosted in a Windows Service) very successfully.

 I am now trying to use it to monitor another WCF service (hosted in a different Windows Service) and for some reason I only see around 10% of the requests appearing in the portal.  I know exactly what requests have been sent because I am monitoring it while running an automated test s

[2019-03-05 01:37] ScottRapsey commented on #123
Is this project dead or is it done?
If it’s dead, did the functionality get rolled into the regular Application Insights SDK?
If it’s done, why is it still in Pre Release and why is it on MyGet instead of Nuget?
Just looking for some clarification as to whether I should, or even need to, be using this in my IIS hosted WCF applications.

[2019-04-11 18:13] bearer-syntaxerror commented on #5
Please make this library official and host it in the official public nuget repository. Currently everyone on my development team needs to configure Visual Studio to include myget.org as a package source and it is a source of confusion.

[2019-04-11 18:31] bearer-syntaxerror commented on #123
My team is currently using this library in production. If it remains on myget, it's only a matter of time before the developers get frustrated and remove it from our code base. We'd like it rolled into the official application insights nuget package or to be hosted on nuget.org if it continues to be a standalone package. If neither will be done, please let us know.

[2019-04-12 21:42] bearer-syntaxerror commented on #123
Until this package is posted to nuget, you can keep your team in sync by adding a NuGet.config file to your project containing the following:
[code]
per [https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file#packagesources](https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file#packagesources)

[2019-04-13 15:26] haldiggs commented on #123
That hells a little. However I still have to run "special" code scans and
repeatedly justify this for external auditors. Kinda sucks since this
library is the only practical way to monitor WCF in Azure... That is what I
have seen... If there are better feel free to say it

On Fri, Apr 12, 2019, 4:42 PM Stuart Schwartz <notifications@github.com>
wrote:

[2019-04-22 18:16] bearer-syntaxerror commented on #123
I know of nothing better. The standard Application Insights package from nuget isn't nearly as robust as this one. Moving the ApplicationInsights-SDK-Labs Application Insights WCF package official and hosting it in nuget's official repository **would be a huge value-add** for those of us still using .net WCF. Thank you.

[2019-04-22 20:24] haldiggs commented on #123
I agree... not sure why nobody is monitoring this from Microsoft. I need this... I am tired of having to justify it usage during code audits. I need this in a standard package please sirs.

[2019-04-30 16:11] dnelly commented on #123
Same here.

[2019-07-08 17:52] canichols2 opened #162 "Unable to track any dependencies"
I have a WebAPI (the client) which consumes the WCF SOAP service.
I have installed this nuget on the WCF Service, and it tracks requests without a problem. everything seems to be working on the WCF Service side.

My problem is that the client's applicaton insights, doesn't show any dependencies. Only requests. I'm hoping this is just a missed configuration or something on my end. But I have setup

[2019-07-19 09:35] yahorsi opened #163 "Status: Alive or Dead"
Seems last commit to that repo was more than a year ago, so, Is is still alive? Orn in other words, is that recommended for use in prod. code?

[2019-07-19 14:20] yahorsi opened #164 "Question: Exceptions logging"
Hi Guys,

We have 4.7.2 WCF/basicHttp binding app, I add application in insights, one of the reason is because I'd like to see all failed requests and exceptions being thrown. Right now if exception happens in the service ctor I do not see it in the application in insights ((

Is that supposed to work at all?

Thanks

[2019-07-19 14:45] haldiggs commented on #163
I know we could not find a better solution for monitoring WCF, people have been trying to get this code into a real nuget package for years. We use the myget links to get the packages. Not happy about it but there seems to be more activity there https://www.myget.org/gallery/applicationinsights-sdk-labs

[2019-07-19 14:47] haldiggs commented on #164
works great. There have to be a number of config entries. These should have been added when you used Visual Studio to add Application Insights. If you are doing the setup manually you will need to read how. Most of the instructions are here in Git

[2019-10-13 22:23] EdmondAndy opened #166 "apply the wcf telemetry on two environments, One is getting the API operation contract logging, but another env didn't log properly"
I am following the instruction of https://github.com/microsoft/ApplicationInsights-SDK-Labs/tree/master/WCF to set up WCF detailed logging for traditional WCF applications under two envs. the same instruction and same packages added into the WCF app directories. however only one env can log detailed API contacts info. I used file differ tools to compare the app directories under these two env, the

[2019-10-14 14:04] haldiggs commented on #166
a fairly generic question. so you are just looking for troubleshooting ideas?
1. check web.config for telemetry TelemetryCorrelationHttpModule
2. ApplicationInsightsWebTracking
3. InstrumentationKey
4. serviceTelemetry key added to proper location

too many things... but that should get you something

[2019-10-14 23:17] EdmondAndy commented on #166
@haldiggs yes, our situation is to enable detailed wcf API operation logs without re-complying the whole code base.  https://github.com/microsoft/ApplicationInsights-SDK-Labs/tree/master/WCF followed this link and it seems doing the work under our UAT env. but when move to another env, well the result turns out to be different. so I am thinking if there are any dependencies related with Server com

[2019-10-14 23:34] EdmondAndy commented on #166
@haldiggs  in UAT env, we have web.config and applicationinsights.config files under the wcf service directories. the Telemetry modules are defined inside the applicationinsights.config file, don't see TelemetryCorrelationHttpModule inside our applicationsinsights.config file.
===========ApplicationInsights.config========================
[code]

instrumentationkey is inside applicationinsights.con

[2019-10-14 23:35] EdmondAndy commented on #166
<behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <serviceTelemetry />
        </behavior>
      </serviceBehaviors>
    </behaviors>

[2019-10-15 01:12] haldiggs commented on #166
TelemetryCorrelationHttpModule is setup in the web config. If it's working
in UAT I would imagine you should be able to detect missing parts.

Hal D. on my Android

On Mon, Oct 14, 2019, 6:34 PM EdmondAndy <notifications@github.com> wrote:

[2019-10-15 01:15] haldiggs commented on #166
I may not see your whole file here but I also don't see an
instrumentationkey

That is definitely needed for your system won't know where to send
information

Hal D. on my Android

On Mon, Oct 14, 2019, 6:34 PM EdmondAndy <notifications@github.com> wrote:

[2019-10-15 04:36] EdmondAndy commented on #166
@haldiggs  the instrumentation key already appended at the bottle of the applicationinsights.config file.
The problem is I don't see the missing parts between UAT and the other environment under App directory, powershell status V2 runtime directory. I used diff tool to compare, files under two envs are identical

[2020-05-08 21:36] DarylSmith opened #167 "Question: Does this project support framework 4.7.x?"
I'm excited to use DependencyCallstacks, but noticed that it supports framework 4.5 - I don't see anything about 4.7  in the myget page https://www.myget.org/feed/applicationinsights-sdk-labs/package/nuget/Microsoft.ApplicationInsights.DependencyCallstacks (we are currently using 4.7.2).  Is this framework compatible?

[2020-05-09 00:48] haldiggs commented on #167
It should be fine. You can use dlls from lower versions than your own
project. I'm personally loving the WCF parts. Wish it would become a full
nuget.

Hal D. on my Android

On Fri, May 8, 2020, 4:36 PM Daryl Smith <notifications@github.com> wrote:

[2020-08-27 10:43] Rans4ckeR commented on #119
@tomasr does it still make sense to report issues for this repo?
I now and then have the same exception and stack trace on net48 & 0.28.0-build06820 (net.tcp binding).

Type: System.ArgumentNullException
Message: Value cannot be null.
Parameter name: result
Source: System.ServiceModel.Internals
TargetSite: TAsyncResult End[TAsyncResult](System.IAsyncResult)
StackTrace:    at System.Runtime.AsyncRe

[2020-08-27 12:26] haldiggs commented on #119
I certainly hope so because I really don't want this project to go away, you may need to create a new issue because this issue was closed a long time ago... Edit... sorry I meant you better set this issue open again

[2020-08-31 17:31] Rans4ckeR opened #168 "Random ArgumentNullException when invoking operations"
As mentioned in my comment to the closed issue #119;
I now and then have an ArgumentNullException using net48 & 0.28.0-build06820 (net.tcp binding).
The stack trace is the same is in the beforementioned issue.

Type: System.ArgumentNullException
Message: Value cannot be null.
Parameter name: result
Source: System.ServiceModel.Internals
TargetSite: TAsyncResult EndTAsyncResult
StackTrace: at System